[2020-10-07 20:48] lauracion commented on #1224
Thank you, Heidi. Admiration is mutual 😄 I am hoping to soon have an initial draft to share with you all. Although slow, steady progress is happening.

I am super excited because @luucamay, from El Alto (Bolivia), accepted my invitation to contribute a personal story from her experience leading a project in open source🎉

[2020-10-08 12:15] #1355 closed

[2020-10-08 12:39] #1359 closed

[2020-10-08 17:17] malvikasharan commented on #1335
We merged two translated file which is now located here: https://github.com/alan-turing-institute/the-turing-way/tree/master/README-translated. If you are translating in other language, please pull the changes locally and add your file in the `README-translated` folder. Thank you for this beutiful addition to the project.
We have opted-in this repo for 'hacktoberfest'.

[2020-10-09 15:43] paulowoicho commented on #1174
Updated Consistency Checklist

- Remove ToCs from Chapter body since one is auto-generated by jupyter-books

- Ensure each subchapter has a summary in their landing page

- Split long chapters to smaller chapters, so they are modular.

- Create a references/bibliography section using Wikipedia’s referencing format

- Ensure the names of chapters/subchapters map exactly to the left TOC.

- Ensure c

[2020-10-10 10:36] JimMadge commented on #1334
Looking at the git blame for `book/website/reproducible-research/rdm/rdm-spreadsheets.md`, it seems that the DOI got truncated and [was previously `10.1186/s13059-016-1044-7`](https://github.com/alan-turing-institute/the-turing-way/commit/27314d4ce5a9bc53327f8e013300df2497d234ff).

I will open a PR to revert this. @malvikasharan The article you suggested is on a very similar subject (gene names be

[2020-10-10 11:03] malvikasharan commented on #1334
Hey @JimMadge adding both examples would be great. Thank you 😊

[2020-10-10 11:45] JimMadge opened #1390 "Misleading section on auto-formatting"
### Summary

The Style Guide contains a section about [auto-formatting](https://the-turing-way.netlify.app/community-handbook/style.html#auto-formatting) which describes setting up prettier.io to run pre-commit in the same way as it will run in CI. Although this was [previously configured](https://github.com/alan-turing-institute/the-turing-way/pull/646), it looks like the pre-commit configuration

[2020-10-10 12:23] paulowoicho opened #1391 "Invite contribution to the subchapters that are missing contents or are incomplete"
### Summary

Some of the content in the book are either missing or incomplete For example, the Licensing chapter in the Guide for Reproducible Research contains a Data Licenses subchapter that is empty. As I work through the book, I will use this issue to keep track of other such chapters that need to have content written for them. Any members of the community willing to help out in writing the co

[2020-10-10 14:46] malvikasharan commented on #1238
Moving this comment from #913 to ensure that the record by @Chrisisour is not lost:

https://github.com/alan-turing-institute/the-turing-way/pull/913#issuecomment-651731815

[2020-10-11 10:29] rabbits99 commented on #1335
Hi, I'm South Korean, so I want to help you translate README.md into Korean.

[2020-10-11 10:57] paulowoicho commented on #1335
Thank you so much @rabbits99! Please send a PR to the main repository when you're ready!

[2020-10-11 18:40] alanverdugo commented on #1337
Hello @crangelsmith , do you still need help with this issue?
Please let me know. Thanks.

[2020-10-12 07:44] KirstieJane commented on #1321
Hi @BrainonSilicon! I'm just having a look at this issue with @MariaEriksson and I'm a little confused 😬

I'm looking at the first example in the list above:

In that file the first line is: `## Different Contributions and their Acknowledgements`

and then the next header down is `### Bug fixing`

Is the activity to move the first one to just one `#` (a level 0 header) and the second to `##` (a le

[2020-10-12 08:22] KirstieJane opened #1393 "[BUG] Netlify shows "Not Found" instead of The Turing Way Book"
### Bug description

The Turing Way book is down :sob:

#### Expected behaviour

- [x] We (anyone on the internet) can see The Turing Way book
- [x] We (anyone on the internet) can see The Turing Way netlify page

#### Actual behaviour

- [ ] As of 9am on 12 October https://the-turing-way.netlify.app shows "Not Found" in multiple browsers for multiple people
- [ ] As of 9am on 12 October https://a

[2020-10-12 08:42] EstherPlomp commented on #1393
https://the-turing-way.netlify.app: Not Found
https://app.netlify.com/sites/the-turing-way: I see the welcome page of Netlify
OS: Windows
Browser: Firefox

Not sure if this is what you wanted as replies to the issue but here you go!

[2020-10-12 08:45] KirstieJane commented on #1393
Thanks @EstherPlomp - I'm mostly using this as a place for us to not all discover the problem independently 😆 And to track what we've done. but also really helpful to know that is isn't just me 😬

I've pinged @alexmorley - fingers crossed there was a netlify change at that end and it will all be figured out soon 🤞🏻

[2020-10-12 08:54] sgibson91 commented on #1393
We should 100% more to a generalised Netlify account that more members of the core team can access as well. We could keep the pass word in the repo, encrypted with git-crypt and then just keep track of who has the git-crypt key (this could also work for other passwords that need to be accessed by multiple people and/or passed from one team member to another, such as Zenodo, Gmail, etc)

[2020-10-12 10:40] BrainonSilicon commented on #1321
Hi @KirstieJane. Thank you for clarifying - I'll update the issue so that it's clearer.

I believe that the bug came from expecting a  `#`  (level 0) first, followed by a `##` (level 1).

Does that make it clearer?

[2020-10-12 10:58] LauraCarter commented on #1239
I have opened pull request 1394 for drafting this chapter: https://github.com/alan-turing-institute/the-turing-way/pull/1394#issue-501497590

[2020-10-12 11:06] NZR opened #1395 "Introduction to the "Project Design Handbook""
### Summary

Following a short meeting between Malvika Sharan, Yasemin Turkyilmaz-van Velden @yaseminturkyilmaz and myself (Nicolas Dintzner @NZR), we thought we could get started with the introduction to the "Project Design Handbook".

The objective is to provide a project overview, in chronological order (from preparation to archival), with key steps and references to the relevant section of the

[2020-10-12 11:24] KirstieJane commented on #1393
We're back! Yay! Thank you @alexmorley!!

Lets leave this issue open until we've figured out the best way to hand ownership of the netlify build to someone who is a current core contributor (or a group, as @sgibson91 suggests above).

[2020-10-12 11:58] martinagvilas commented on #1393
What is the main reason for using Netlify as opposed to Github pages? Using the second people with writing access to the repository would have access to the deployment, there are no problems with payment, and no cap on bandwidth. But I'm probably missing an advantage of Netlify out of lack of experience 🤣  (or a disadvantage of Github pages in this case)

[2020-10-12 12:02] sgibson91 commented on #1393
@martinagvilas The biggest advantage is the deployment preview on PRs https://github.com/alan-turing-institute/the-turing-way/pull/1394#issuecomment-707059983

[2020-10-12 12:10] alexmorley commented on #1393
Yeah that's one main advantage. The other is that jupyter book requires a build step so (AFAIU) to host on github pages we'd either have to a) build it locally and push to a special branch that contains the static html etc (this is what I do for my personal website, it's not so bad but it's not as friendly) or b) set up a github action to do that for us (this wasn't an option when the turing way h

[2020-10-12 12:15] sgibson91 commented on #1393
Is it just orgs or can it grant access to teams as well? As I think there might be a Turing Way Core team under the Turing org already. I manage the software tools, like GitHub, for the Turing now so it would be within my service area to investigate this! Otherwise, I think we should set up a _Turing Way_ account, rather than a Turing Institute one.

[2020-10-12 15:24] MariaEriksson commented on #1321
Hey @BrainonSilicon! Thanks for explaining :pray: I'd love to try to make these changes - I'm just still very new to GitHub, so could I please double check that I've understood how to do this? For instance, for the example

would I open this example on its own, select `Edit this file`, make the change, and then `Commit the changes`(which would create a new pull request)? Or would I tick several ex

[2020-10-13 10:15] alexmorley commented on #1393
Yeah. So the cheapest way will be to set up a turingway account with an email address/password. The Pro ones where you can add team members cost a fair bit more I think.

[2020-10-13 11:10] malvikasharan commented on #1174
@paulowoicho Can you please review this comment and add the missing bit in your checklist?
https://github.com/alan-turing-institute/the-turing-way/issues/1174#issuecomment-643204556

[2020-10-13 13:41] #1334 closed

[2020-10-14 13:50] malvikasharan opened #1398 "[BUG] Fix Markdown formatting of non-consecutive headers: Style guide"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-14 13:59] malvikasharan commented on #1385
Hey @paulowoicho, one process we should capture is around translation. @tonyyzy and @annahadji have written a translation guide that is currently linked to the issues #970 #1010 #969. We would like to capture that in a chapter in the community handbook so that we can support the new contributors.

Other processes will be related to collecting case studies, personal stories, interviews, impact and

[2020-10-14 14:01] malvikasharan commented on #1391
Hey @paulowoicho. Thank you for opening this very useful issue. I am updating the header to make sure we think about such work in terms of the processes and methods to involve others.

[2020-10-14 21:35] BrainonSilicon commented on #1321
No worries! We worked out separating out this issue into smaller ones (see the [new issue 1398](https://github.com/alan-turing-institute/the-turing-way/issues/1398) here for a further explanation).

You were spot on with your first comment!

What to do is:
- choose which bugs you want to fix (from the list)
- follow the link to the file
- find the corresponding bug
- select `Edit this file`
- then

[2020-10-15 10:10] #1337 closed

[2020-10-15 12:38] malvikasharan commented on #1390
Thanks @JimMadge, I agree with you. The style guide should be updated as the auto formatting is outdated. We can open another issue of creating some CI actions that could help with some formatting (besides the surrent one on Latin word checker).

[2020-10-15 12:40] malvikasharan commented on #1333
Short blurb for online advert:

The Turing Way (https://the-turing-way.netlify.app) invites you to submit your application to participate in the upcoming Book Dash taking place online from 9-13 November 2020: https://forms.gle/usZkYogVfH2nhNjh7. The deadline is 22 October 2020.

The Turing Way is an open source and community-developed book project that aims to make reproducible, ethical, inclusive

[2020-10-15 12:52] malvikasharan opened #1404 "[BUG] Add a top level header with a short overview of the chapter: research data management"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:05] JimMadge commented on #1390
@malvikasharan I'm happy to open a PR updating the style guide.

The original issue on auto-formatting (#630) is still open. However, that issue became largely about implementing prettier.io so perhaps it is best to close that issue and create a new one? Also, it might be interesting to look at other types of CI tools, like a checker for dead links, grammar or prose.

[2020-10-15 13:08] malvikasharan opened #1405 "[BUG] Add a top level header with a short overview of the chapter: Open Research"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:10] malvikasharan opened #1406 "[BUG] Fix Markdown formatting of non-consecutive headers: Open Access subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:11] malvikasharan opened #1407 "[BUG] Fix Markdown formatting of non-consecutive headers: Open Data subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:15] malvikasharan opened #1408 "[BUG] Fix Markdown formatting of non-consecutive headers: Open Hardware subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:16] malvikasharan opened #1409 "[BUG] Fix Markdown formatting of non-consecutive headers: Open Notebooks subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:16] malvikasharan opened #1410 "[BUG] Fix Markdown formatting of non-consecutive headers: Open Scholarship subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:17] malvikasharan opened #1411 "[BUG] Fix Markdown formatting of non-consecutive headers: Open Source Subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:21] malvikasharan commented on #1321
I have created a dedicated issue for each file with header issues. Hoping that making it modular will attract newer contributors.

[2020-10-15 13:24] malvikasharan opened #1412 "[BUG] Fix Markdown formatting of non-consecutive headers: Persona subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:26] malvikasharan opened #1413 "[BUG] Fix Markdown formatting of non-consecutive headers: CoC reporting subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 13:30] MariaEriksson commented on #1321
Thanks again @BrainonSilicon! I've given the two first issues a try - hopefully, they look ok! And if they do, I'll do more 👍 If I do do more, I assume I should open the 'dedicated issues' that you have created @malvikasharan, instead of opening the issues listed on this page? And does this mean that I should re-do the issues I did, now that they have become 'dedicated issues'?

[2020-10-15 13:43] malvikasharan opened #1414 "Replace markdown formatting with MyST markdown formatting of Jupyter Book for images: Guide for Reproducible Research"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Partly related to #1313

_The Turing Way_  book is built on JupyterBook that uses MyST markdown, which allows images to adjust as per the scre

[2020-10-15 13:46] malvikasharan opened #1415 "Replace markdown formatting with MyST markdown formatting of Jupyter Book for images: Guide for Project Design"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Partly related to #1313

_The Turing Way_  book is built on JupyterBook that uses MyST markdown, which allows images to adjust as per the scre

[2020-10-15 13:47] malvikasharan opened #1416 "Replace markdown formatting with MyST markdown formatting of Jupyter Book for images: Guide for Guide for Collaboration"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Partly related to #1313

_The Turing Way_  book is built on JupyterBook that uses MyST markdown, which allows images to adjust as per the scre

[2020-10-15 13:50] malvikasharan opened #1417 "Replace markdown formatting with MyST markdown formatting of Jupyter Book for images: Guide for Guide for Community Handbook"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Partly related to #1313

_The Turing Way_  book is built on JupyterBook that uses MyST markdown, which allows images to adjust as per the scre

[2020-10-15 19:07] ChandlerKlein commented on #1413
Hi there, could you assign this issue to me?

[2020-10-15 19:07] Cybernick1993 opened #1419 "Add Writer's Free Grammar Checker to Page"
Hey guys,

I was browsing your website today and came across this page: https://the-turing-way.netlify.app/community-handbook/newsletters/newsletters-process.html

I noticed that you referenced grammarcheck.net’s grammar checker on the page, so I wanted to introduce you to Writer’s alternative!

Grammarcheck.net’s tool checks for simple things like spelling, grammar, and punctuation. Our tool take

[2020-10-15 21:04] KirstieJane commented on #1419
I think we can include this if we find _existing_ members of the community way who use the tool (can be from now!) and want to recommend it.

Otherwise I think we're setting a precedent that is going to be a little difficult to manage if we incorporate every tool that is promoted to us.

@malvikasharan - what do you think?

[2020-10-15 22:03] malvikasharan commented on #1419
This chapter refers to the newsletter, that at the moment I am responsible for. I use the free version of Grammarly, and I am happy to give this tool a try for this month's newsletter. If this works (if this really helps simplify my language - which is a long term goal 👍), I'd be happy to add this tool as a recommendation.

[2020-10-15 22:05] Cybernick1993 commented on #1419
@malvikasharan that'd be great! If you decide not to include it, I'd love to hear your feedback on how we can make it better!

[2020-10-15 22:10] malvikasharan commented on #1413
@ChandlerKlein the acknowledgement chapter was fixed in #1402. I have updated this issue with a similar header issue in another file. Happy to let you fix that.

[2020-10-15 22:21] malvikasharan opened #1421 "[BUG] Fix Markdown formatting of non-consecutive headers: Overview and CI subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 22:25] malvikasharan opened #1422 "[BUG] Create consistencies in: Reviewing subchapters"
# Summary

- The reviewing chapter is a perfect chapter to test the checklist for consistency

## What needs to be done

- [ ] Ask @paulowoicho to provide the checklist for consistency
- [ ] test on the review chapter (has toc, uses HTML tags, etc.)

[2020-10-15 22:37] malvikasharan opened #1424 "[BUG] Fix Markdown formatting of non-consecutive headers: Version control subchapter"
## :tada::balloon::cake: **Welcome Hacktober Contributors! This is The Turing Way repository** :cake::balloon::tada:

:dizzy::hatched_chick::sunny: _We're excited that you're here and want to contribute._ :sunny::hatched_chick::dizzy:

# Summary of Issue

- Part of #1321

_The Turing Way_ chapters are written in [MarkDown format](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf). Each

[2020-10-15 22:43] #1413 closed

[2020-10-16 09:47] blee1710 commented on #1404
Hi! I'd like to take this on please.

[2020-10-16 09:56] malvikasharan commented on #1391
Data Licensing chapter is in this PR #1185  but needs some work as listed in the comments.

[2020-10-16 11:03] #1390 closed

[2020-10-16 14:17] glumand commented on #1335
Hi, I am from Germany and I hope I can help with a translation of the README.md into German.

[2020-10-17 07:43] malvikasharan commented on #1335
das wäre wunderbar @glumand.

[2020-10-17 07:46] #1412 closed

[2020-10-17 09:03] malvikasharan opened #1433 "Move JupyterBook tutorial to The Carpentries format"
### Summary

* We have developed a tutorial on Jupyter Book with Turing Way for the JupyterCon, which we would like to move to the carpentries format: https://github.com/carpentries-incubator

### What needs to be done?

- [ ] Here are the notebook: https://github.com/jupytercon/2020-jupyterbook-with-turing-way
- [ ] each notebook will move an episode of the carpentries materials

### Who can help

[2020-10-17 09:16] #1421 closed

[2020-10-17 09:18] malvikasharan commented on #1315
@all-contributors please add @GeorgiaHCA for idea.

[2020-10-17 11:36] vcheplygina opened #1436 "Chapter/section on task management (with teams)?"
## Addition of chapter on task management (with teams)

 * This issue is a place to discuss matters relating to the writing of the chapter on task management.

### Table of contents

As discussed with @malvikasharan, a few ideas:

* What is a good format and size of a task
* Where should tasks "live"
* Systems like GTD, Kanban
* Planning, setting priorities (and avoiding overwhelm)
* How to commun

[2020-10-17 13:22] malvikasharan commented on #1436
@all-contributors please add @vcheplygina for idea.

[2020-10-17 13:25] malvikasharan commented on #1395
@all-contributors please add @NZR for idea.

[2020-10-17 13:29] malvikasharan commented on #1395
@all-contributors please add @yaseminturkyilmaz for idea.

[2020-10-17 15:06] JimMadge opened #1443 "CI step to check for dead links in markdown files"
### Summary

I've spent a little time looking at dead links in the book and repository. Thinking about how to manage fixing existing dead links and helping to reducing the introduction of dead links I came across two projects with GitHub actions.

| Software | Action |
| --- | --- |
| [markdown-link-check](https://github.com/tcort/markdown-link-check) | [github-action-markdown-link-check](https://

[2020-10-17 16:16] #1416 closed

[2020-10-17 16:18] #1406 closed

[2020-10-17 17:30] #1411 closed

[2020-10-17 21:10] malvikasharan commented on #1391
updated in https://github.com/alan-turing-institute/the-turing-way/pull/1448

[2020-10-18 14:09] glumand commented on #1335
@malvikasharan now you gut me confused. :) Are you still looking for a German translation? because #1345 is Italian.

[2020-10-18 17:28] malvikasharan commented on #1335
Hi @glumand this issue was closed by mistake when the #1345 was merged. If you would like to translate in German, please go ahead and create a PR on that as you continue to translate.

[2020-10-18 18:27] malvikasharan opened #1450 "[Event] Community share-out on 13 November"
### Summary

Related to #1333

* The last day of Book Dash will include multiple open sessions for our contributors including the book dash attendees to share what they have worked on in The Turing Way, and what impact it has had.

### What needs to be done?

- [ ] Set up registration based participation in the Zoom calls
- [ ] Set a live stream of share out sessions
- [ ] Plan logistics and post

[2020-10-18 20:43] malvikasharan commented on #1419
Hey @Cybernick1993, I gave your tool a try for my draft in https://github.com/alan-turing-institute/the-turing-way/pull/1452. It doesn't particularly fit for my purpose. It worked quite well for creating clarity of some sentences (for example by removing the passive voice), but here are some things that I think were not particularly helpful for me:
1. It follows the rule "numbers up to nine should

[2020-10-19 11:12] LauraCarter commented on #1239
I'm working on a draft of this chapter this week, and I would LOVE to know: what questions would you like to see answered in this section? As a data scientist, what do you wish you knew about how ethics relates to law and human rights?

[2020-10-19 11:37] HeidiSeibold commented on #1239
@LauraCarter one thing that is being discussed over and over is "what am I allowed to do as researcher in terms of making my work openly available?"

A lot of times people tell me things like "But my institution own all software I create. I am not allowed to publish it under an open licence.". I personally decide to ignore this, but they do have a point. Not sure if it is a Germany-specific discus

[2020-10-20 13:32] #1404 closed

[2020-10-20 20:37] Chrisisour commented on #1239
Sounds like something we should definitely cover in a book dedicated to open science, but maybe we need to seek out an expert in IP law for that? And that is just part of the answer of when can you publish code - the many different parts being does it belong to you (IP law, contract law), is there some private data in there (privacy, data protection), will it harm people if it is reused (I guess g

[2020-10-21 14:37] malvikasharan commented on #1238
Hey @ashatitus. Please look at this issue for the case studies in the Ethical Research guide.
@Ismael-KG Please meet Asha :)

[2020-10-21 14:41] #1410 closed

[2020-10-22 06:56] ikayz commented on #1313
I would like to work on some images

[2020-10-22 07:33] malvikasharan commented on #1313
Go for it @ikayz. You can see the last contributor’s PR for reference.

[2020-10-22 13:16] MariaEriksson commented on #1267
Hi @EstherPlomp! 👋  I work with sensitive data, and might be able to help. Would you like to work together on this during a Co-working call/Collaboration café? Or I add comments here under the 'Updates'-section?

[2020-10-22 15:59] martintoreilly opened #1467 "Issue on page /reproducible-research/licensing/licensing-software.html"
The formatting of the software licencing table on Netlify doesn't retain the clear visual structure present in the Github source. Not sure if the right answer is to apply a different style in Netlify or simplify the table in the source.

### Layout on Github
![image](https://user-images.githubusercontent.com/21147592/96898418-96ea2580-1487-11eb-987a-f0209fb39dc7.png)
See https://github.com/alan-tu

[2020-10-22 16:00] malvikasharan commented on #1467
Thank you @martintoreilly. I will tag this as a hacktoberfest issue. 🎊

[2020-10-22 16:01] martintoreilly commented on #1467
Should I leave the issue title as-is or update it to summarise the layout issue?

[2020-10-24 10:55] JimMadge commented on #1424
I will have a go at the last part of this issue.

[2020-10-24 11:22] EstherPlomp commented on #1267
Hi @MariaEriksson ! That would be great!
I set up a very rough text on a hack md: https://hackmd.io/kKm1R1PfRZStmbo9GtwuBg#Managing-senstive-data-1267
I'm not sure how that works with collaborative writing, perhaps I should move it to a google doc or github so it is easier to contribute?
I'm planning to attend the following co-working calls so it might also be good to discuss it then?
- 26 Oktober

[2020-10-25 11:30] paulowoicho commented on #1467
Hi @martintoreilly, I had raised a [PR](https://github.com/alan-turing-institute/the-turing-way/pull/1460) a few days ago that addresses this along with some other editing on the Licensing chapter based on a consistency checklist I have been working on for The Turing Way. I'd appreciate your review on the PR!

[2020-10-26 07:36] martintoreilly commented on #1467
Hi @paulowoicho. Thanks for taking a look at this. I reviewed the updated markdown version of the table in commit 1f8fff5.

I think the column-spanning headers in the original HTML version of the table group the licence types more clearly when the borders are there, compared to the markdown version that removes the column-spanning headers. See below for what the table looks like when I manually ad

[2020-10-26 09:12] MariaEriksson commented on #1267
Hey @EstherPlomp! Happy to hear that we can meet during the co-working call! Today works great for me (it's at 11am GMT if I'm not mistaken?). Looking forward to meeting you then!

[2020-10-26 11:15] LauraCarter opened #1469 "A central page to link to, explaining that the book does not constitute legal advice"
## Detailed description

 * This issue is a place to discuss matters relating to the writing of the chapter on "this book is not a substitute for legal advice"
 * This chapter is being written in https://github.com/alan-turing-institute/the-turing-way/pull/1498
 * This chapter is being developed in https://github.com/LauraCarter/the-turing-way/blob/legal-disclaimer/book/website/afterword/legal-dis

[2020-10-26 11:19] LauraCarter commented on #1469
This is some text from the licencing chapter that we are currently copying and pasting into lots of chapters, which seems inefficient.

_Disclaimer: Good legal advice is timely, specific, and given by an expert; this chapter is none of these. It was written by an engineer, not by a lawyer, and it’s a heavily simplified overview of a very complex field. The intent is to give you an overview of the

[2020-10-26 11:26] EstherPlomp commented on #1267
This issue will probably need have two separate new sections as the term senstive data can be confusing:
1. personal data #1267
2. commercial sensitive (probably needs a new issue)

[2020-10-26 11:33] paulowoicho commented on #1467
@martintoreilly, thanks for your review on my PR! It was quite challenging to satisfactorily recreate the table in Markdown, and I agree that it is more understandable with the updated HTML.

While going through the book, I noticed that content written in HTML does not always render properly on Netlify, so an item in the consistency checklist was to convert HTML formatting to Markdown.

@malvikash

[2020-10-26 11:37] LauraCarter commented on #1469
@MariaEriksson, @EstherPlomp and I have been discussing where this should live: perhaps in the Afterword? Any other thoughts?

[2020-10-26 12:01] EstherPlomp commented on #1267
Created a pull request that @MariaEriksson, @LauraCarter and myself are still working on: Create personal.md #1471
https://github.com/alan-turing-institute/the-turing-way/pull/1471

[2020-10-26 15:53] nuest commented on #1249
I hope to get to this when it get's a bit quieter towards the end of the year :-) :christmas_tree:

[2020-10-26 22:53] KirstieJane commented on #1443
I'm super into a checker for dead links! Particularly  if they can check for internally broken links... I feel like every time we re-structure a chapter etc then we run the risk of breaking internal links.

@sgibson91 - what do you think?

[2020-10-27 05:56] Remi-Gau commented on #1443
Just jumping in to give you my 2 cents about the markdown-linkcheck github actiion: in case it helps make a decision.

I started using when I was refactoring a lot of the doc on one my project and that started breaking internal links "up the wazoo". And I noticed a couple of dead external links too.

So I started using markdown-linkcheck.

Overall it does a very good job: works on external, intern

[2020-10-27 08:58] sgibson91 commented on #1443
@JimMadge are you suggesting an extra link-checking step to the one we already run [here](https://github.com/alan-turing-institute/the-turing-way/blob/58980d7f5b03d3165a3fe6defd1f38957c916911/.github/workflows/ci.yml#L31-L35). The problem with checking for dead links in the markdown is that won't actually catch dead internal links in the book since Jupyter Book uses a label referencing system diff

[2020-10-27 10:05] ikayz commented on #1313
@malvikasharan I've worked on these files and reduced the file sizes
[ *] binder_comic.png

[ *] flipped_taj_mahal.png

[ *] welcome.jpg

[2020-10-27 10:33] paulowoicho commented on #1313
Hi @ikayz, thank you for your work. I have reviewed and merged your PR!

[2020-10-27 11:40] JimMadge commented on #1443
@sgibson91 I didn't notice that CI step 🤦...

I suppose the question then is, would an extra step do anything the existing check does not or can not do?

Definitely agree that the references being missed is a drawback and that testing on the html that will actually be deployed is better.

I've recently tried incorporating markdown-link-check into a project. My impressions are the same as @Remi-Gau

[2020-10-27 11:52] sgibson91 commented on #1443
I'm not sure it would. Checking links in markdown would likely reliably catch external links ... And I've just realised that we have `--disable-external` enabled for html proofer. @martinagvilas what's the thinking behind that?

[2020-10-27 12:42] ikayz commented on #1417
@malvikasharan I would like to work on this issue.

[2020-10-27 14:41] martinagvilas commented on #1443
Hey! So indeed, the CI already checks for broken internal links. It has been set up for not failing when it finds broken links, so that instead of fixing them all on one go ourselves we could open issues for new contributors. Side note: Jupyter Book also kind of checks for internal links (see the build log, some of the warnings are showing broken links).

@sgibson91 the `--disable-external` was ca

[2020-10-27 14:59] sgibson91 commented on #1443
Thanks for that explanation! I wonder then if we could simplify and keep all link-checking (internal and external) inside the jupyterbook build command? Or do you think it's best to also keep html proofer?

[2020-10-27 15:02] sgibson91 commented on #1443
Does such an issue exist? Should we spend some time (a Collab Cafe) creating one?

[2020-10-27 15:06] martinagvilas commented on #1443
I would totally go for this option! Especially since these checks are always improving in Jupyter Book, and we are not checking the output of `html proofer` anyways

Oh yes, I've been saying that I will work on this on the collab cafe for a while but I have not been able to attend one since the Jupyter Book tutorial 😭  I also wanted to create a file that explains what each of the warnings of Jupyt

[2020-10-27 15:11] sgibson91 commented on #1443
Perhaps @JimMadge would like to join too? [details](https://github.com/alan-turing-institute/the-turing-way/blob/master/project_management/online-collaboration-cafe.md)

[2020-10-27 16:37] malvikasharan commented on #946
We have integrated that in our style guide, and aiming to integrate that in our (~100) subchapters through community contribution. Also, this issue and related PRs will ensure future consistencies. #1174.

[2020-10-27 16:37] #946 closed

[2020-10-27 16:45] jezcope commented on #1443
Just to add to this, because I've just been running `jupyter-book` locally and seen that there are a *lot* of warnings during the build process: `jupyter-book build` has an option `--warningiserror` that will cause the build to treat any warnings as errors and abort, which seems like it would be useful for a CI check of "make sure there are no warnings". Most of the current warnings are indeed mis

[2020-10-27 16:46] malvikasharan opened #1473 "Create a series of template to facilitate contributions"
### Summary

* As the book has evolved, it's content has also started to develop in modular size that makes the template outdated
* We need to create new templates to assist our contributors create their contents

### What needs to be done?

These templates should be crowdsourced with the help of @paulowoicho:

- [x] Template for a landing page of the chapter
- [x] Template for a small subchapter

[2020-10-27 16:56] sgibson91 commented on #1443
**More things in the world need this.**

[2020-10-27 17:15] jezcope commented on #1443
I know I need this...

[2020-10-27 17:34] malvikasharan commented on #1174
@paulowoicho a couple of things we don't have in the consistency chapters yet that should be considered in the PR #1459

- Requirement section on the top of the file: What skills are needed for this chapter (link to different chapters that a readers should know)
- Bibligraphy and citing external resources (part of hard requirement)

[2020-10-27 17:37] malvikasharan commented on #1417
Hey @ikayz. Please go ahead and give it a try :) You can tag me in your PR or invite a review from @paulowoicho.

[2020-10-27 19:23] paulowoicho commented on #1174
Ahh okay, I will add a section for this in my next commit!

[2020-10-27 19:24] malvikasharan commented on #1174
I haven't yet reviewed the subchapters, but let do it one by one. 💪

[2020-10-28 15:11] #1419 closed

[2020-10-28 17:12] #1415 closed

[2020-10-29 14:40] ikayz commented on #1417
@malvikasharan I looked at the chapters and didn't find any images being used except examples which were in backtick quotes, or maybe I'm missing something?

[2020-10-29 14:45] ikayz commented on #1398
@malvikasharan I would like to also work on this issue.

[2020-10-29 14:59] ikayz commented on #1407
@malvikasharan I would like to work on this issue too 😁

[2020-10-29 16:44] C-Lion commented on #1313
Currently working on these 3:
[ ] collaboration.jpg
[ ] data-ecosystem.jpg
[ ] distributed-collaboration.jpg

[2020-10-29 18:53] paulowoicho commented on #1313
Thank you @C-Lion! When you're done, you can tag me in your PR so I can review and merge!

[2020-10-29 19:14] paulowoicho commented on #1417
Hi @ikayz. I have had a look through the chapters and confirmed that all the images they contain are indeed formatted in MyST, but you can go ahead and resize any of the images that are above 1MB as per issue #1313. You can also tag me to review your PR when you're done!

[2020-10-29 19:57] ikayz commented on #1417
@paulowoicho awesome. There are other issues I would also like to work on, #1407 #1409

[2020-10-29 20:33] paulowoicho commented on #1417
Yes, please go ahead! Thank you for all your contributions!

[2020-10-29 20:52] ikayz commented on #1313
These have been worked and submitted a PR
[x]  Provenance.jpg
[x]  ResearchCompendium.jpg
[x]  community.jpg

[2020-10-30 08:26] #1398 closed

[2020-10-30 10:02] paulowoicho commented on #1409
Addressed in PR #1479 by @ikayz

[2020-10-30 10:03] #1409 closed

[2020-10-30 10:32] paulowoicho opened #1480 "Improving Table Formatting in The Turing Way Book"
### Summary

Tables formatted in HTML do not render properly and those formatted in Markdown do not have borders for columns on the Netlify version of the book, This might be confusing for some readers, especially when tables have cells that span multiple columns or rows.
![image](https://user-images.githubusercontent.com/28223751/97693311-e4265280-1a98-11eb-8345-79ccff63cfe5.png)

In PR #1460, a

[2020-10-31 11:24] #1407 closed

[2020-10-31 13:10] paulowoicho commented on #1469
I think putting this chapter in the Afterword is a great option. Although, I think some readers may appreciate knowing this information beforehand, so expanding Welcome to have its own chapters and including this Disclaimer chapter there might be another option.

[2020-10-31 14:44] paulowoicho opened #1484 "[WIP][BUG] Retrospective Consistency on ..."
## **Hello Contributors!!**

_Thank you for your interest in improving the Turing Way book with your time, skills, and expertise!_

# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-

[2020-10-31 19:07] C-Lion commented on #1313
Currently working on these 3:

[ ]  ThatCouldBeAChapter.png
[ ]  contributors-twopanel.png
[ ]  file-collection.jpg

[2020-10-31 19:36] C-Lion commented on #1408
Working on this issue. Please assign. Will submit PR asap.

[2020-10-31 21:45] C-Lion commented on #1408
Unable to create separate PR for this bug. It keeps just showing me the still open PR of the PNG files. Please advise how can I create a separate PR for the fix markdown bug issue # 1408?

[2020-10-31 21:58] paulowoicho opened #1486 "[BUG] Maintaining Consistency in reproducible-research.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-10-31 22:07] bsipocz opened #1488 "Consider working from branches of forks"
### Summary

There are currently 100 branches in the main repository. Most of these were branches for pull requests, thus contain no extra information compared to the main master branch.
When someone newly forks the project, all these branches also ends up on the fork, as well as when one works with the main account as a remote.

### What needs to be done?

I would suggest considering to declutter

[2020-10-31 22:21] bsipocz opened #1489 "Revise github "good pracices""
### Summary

The current version of the github workflow describes one particular workflow, with good practices listed at the bottom. This good practice, and the workflow is not exactly the practice many collaborative software project operates, and they even consider the suggestions bad practice (using merge instead of rebase, having several people working on a branch.

### What needs to be done?

[2020-10-31 22:31] bsipocz opened #1490 "Consider using usernames rather than origin/upstream in git examples"
### Summary

This suggestion can be controversial and isn't done in most places. However, I feel it's worth raising and have a discussion about:

- While most projects use it differently, git is decentralized vc. When working in the github workflow everyone seems to be equal, and often the wording `origin` and `upstream` can be confusing when it refers to a fork vs the main repo. In many situation

[2020-10-31 23:07] bsipocz opened #1492 "Adding a page for git rebase and squash"
### Summary

These are very powerful and useful tools that can be utilized in any projects, either to keep the commit history clean and organized or to e.g. remove files accidentally added to the repo (e.g. big binary files, etc.)

[2020-11-01 09:36] paulowoicho opened #1493 "[BUG] Maintaining Consistency in overview-definitions.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-01 09:56] paulowoicho opened #1494 "[BUG] Maintaining Consistency in overview-benefit.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-01 10:14] paulowoicho opened #1495 "[BUG] Maintaining Consistency in overview-resources.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-01 11:47] paulowoicho opened #1496 "[BUG] Maintaining Consistency in Open Research Chapter of Guide to Reproducible Research"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-01 14:38] paulowoicho opened #1497 "Best Way To Render Checklist items"
### Summary

For the Checklist subchapters of _The Turing Way_ book, using Markdown to include checklist items makes them render in a weird/confusing way
![image](https://user-images.githubusercontent.com/28223751/97804457-f98daf00-1c47-11eb-8dce-62c5781ef4eb.png)

Checklist items can be included in _The Turing Way_ using HTML formatting (which makes them render as intended) but, if a user checks

[2020-11-03 10:44] paulowoicho opened #1499 "[BUG] Maintaining Consistency on binderhub.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-03 10:54] paulowoicho opened #1500 "[BUG] Maintaining Consistency in binderhub-introduction.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-03 11:09] paulowoicho opened #1501 "[BUG] Maintaining Consistency in binderhub-compute.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-03 11:20] paulowoicho opened #1502 "[BUG] Maintaining Consistency in binderhub-build.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-03 12:36] paulowoicho opened #1503 "[BUG] Maintaining Consistency in binderhub-resources.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-03 13:22] paulowoicho opened #1504 "[BUG] Maintaining Consistency in code-quality.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-03 13:31] paulowoicho opened #1505 "[BUG] Maintaining Consistency in code-quality-style.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-03 13:49] paulowoicho opened #1506 "[BUG] Maintaining Consistency in code-quality-resources.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-05 11:40] ashatitus commented on #1238
Thanks for directing me to the case studies section - while prepping for the book dash, I have been working through the structure of the Ethics chapter in order to get a sense of the style of the overall book and how it is pitched at a data science practitioner audience...

[2020-11-05 14:22] CSRedRat commented on #776
I have some problem: https://github.com/CSRedRat/topalias/pull/4
will try without .allcontributorsrc and with .allcontributorsrc

[2020-11-05 17:46] sgibson91 commented on #776
@CSRedRat this will almost definitely be due to a misconfigured .all-contributorsrc file. It may be easier to download the CLI and generate the file that way, unless you can use an editor and JSON prettifier to track down the missing character.

[2020-11-06 14:56] paulowoicho opened #1508 "[BUG] Maintaining Consistency in testing.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-06 16:23] SarahAlidoost commented on #656
The [PR](https://github.com/alan-turing-institute/the-turing-way/pull/1320) fixes most of the items in the top-comment of this issue. Here, a summary of where each item is implemented:
- [X] _Syncronous code review: http://fperez.org/py4science/code_reviews.html_
A link is added to section `Recommendations and best practices/Be okay with taking the discussion offline.`

- [X] _Find your code buddy

[2020-11-07 07:08] paulowoicho opened #1509 "[BUG] Maintaining Consistency in testing-guidance.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 07:23] paulowoicho opened #1510 "[BUG] Maintaining Consistency in testing-types.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 07:36] paulowoicho opened #1511 "[BUG] Maintaining Consistency in testing-exceptions.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 07:52] paulowoicho opened #1512 "[BUG] Maintaining Consistency in testing-checklist.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 08:10] paulowoicho opened #1513 "[BUG] Maintaining Consistency in testing-resources.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 11:04] paulowoicho opened #1514 "[BUG] Maintaining Consistency in reviewing.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 12:41] paulowoicho opened #1515 "[BUG] Maintaining Consistency in reviewing-motivation.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 12:52] paulowoicho opened #1516 "[BUG] Maintaining Consistency in reviewing-recommend.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 13:08] paulowoicho opened #1517 "[BUG] Maintaining Consistency in reviewing-workflow.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 13:25] paulowoicho opened #1518 "[BUG] Maintaining Consistency in reviewing-checklist.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-07 13:34] paulowoicho opened #1519 "[BUG] Maintaining Consistency in reviewing-resources.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 09:27] malvikasharan opened #1520 "Refactor remote collaboration chapter and add it to the book"
### Summary

* In February we created multiple PRs in remote collaboration but it was never added to the book, I will work on making them online

### What needs to be done?

- [ ] List all the PRs with remote collab content
- [ ] Make sure all the contributors are listed

### Who can help?

* Anyone who would like to work on this with me

---

### Updates

[2020-11-09 10:28] paulowoicho opened #1521 "[BUG] Maintaining Consistency in ci.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 12:23] BrainonSilicon commented on #1238
Awesome! This will be a great addition @ashatitus. Feel free to ask if you have any questions, the book is being built as we go!

[2020-11-09 13:17] #1405 closed

[2020-11-09 13:21] paulowoicho opened #1525 "[BUG] Maintaining Consistency in ci-options.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 13:40] paulowoicho opened #1526 "[BUG] Maintaining Consistency in ci-travis.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 13:56] paulowoicho opened #1527 "[BUG] Maintaining Consistency in ci-practices.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 14:06] paulowoicho opened #1529 "[BUG] Maintaining Consistency in ci-checklist.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 14:24] paulowoicho opened #1530 "[BUG] Maintaining Consistency in ci-resources.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 15:14] wna-se commented on #1529
I'm going to attempt a solution for this

[2020-11-09 15:21] paulowoicho opened #1532 "[BUG] Maintaining Consistency in chapter on Reproducible Research with Make"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 15:43] paulowoicho opened #1533 "[BUG] Maintaining Consistency in compendia.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 15:50] paulowoicho opened #1534 "[BUG] Maintaining Consistency in credit.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 16:02] paulowoicho opened #1535 "[BUG] Maintaining Consistency in chapter on Risk Assessment"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-09 16:05] paulowoicho commented on #1529
Thanks @wna-se! When you're done, you can request a review from me on your PR as well

[2020-11-09 16:14] #1529 closed

[2020-11-09 20:32] EKaroune opened #1537 "Onboarding new Github users chapter"
### Summary

Chapter to explain in more detail how to start to use Github for researchers that have no previous experience of Github or of coding. Will also cover why Github is good for collaborative reproducible projects and why version control is needed. Instructions for use of Github will be based around using it through a web browser.

### What needs to be done?

- [x] Plan of chapter
- [x] In

[2020-11-10 08:39] Marta-MM commented on #1532
would like to work on the following consistency checks:
1.  Change ## An Introduction to Make to ## Why This is Useful
2.  Change ## Prerequisites / recommended skill level to Prerequisites
3.  Check for correct grammar

[2020-11-10 09:02] paulowoicho commented on #1532
Thanks @Marta-MM! You can request a review from me when you raise your PR

[2020-11-10 09:15] Marta-MM commented on #1534
Working on the following checks:
-  Title case all headers, for example change Basic research compendium should be Basic Research Compendium
-  Check for proper grammar and spelling
-  Remove square brackets [ ] from checklist items

[2020-11-10 10:14] BatoolMM commented on #1526
Hi @pabloarosado, I would like to work on the following consistency checks:

1- Use `MyST` to format images.
2- Title-case all headers.
3- Check for proper grammar and spelling.

[2020-11-10 10:24] sgibson91 opened #1542 "Migrate site redirects to use sphinx-native rediraffe instead of relying on Netlify"
### Summary

Over in https://github.com/alan-turing-institute/the-turing-way/issues/2999, we came to the conclusion that Netlify has not been handling redirects properly, primarily due to the location of the file in the repo. But also this file will have to be manually updated, which might be a tall order for some contributors.

However, there is a sphinx extension called [rediraffe](https://sphin

[2020-11-10 10:38] wna-se opened #1544 "Bringing tasklists back?"
### Summary

At the moment there are many open pull requests for converting check lists that use the [GitHub style task lists](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/about-task-lists) using \[ \] and \[x\] into plain bullet lists and I can't stop thinking that there should be a more ideal solution.

I have added an [Issue and pull request to update mark

[2020-11-10 11:05] wna-se opened #1546 "Consistent formatting in project-design/filenaming.md"
### Summary

Update the formatting of Guide for Project Design / File Naming Convention.

### What needs to be done?

- [x] Remove square brackets from the checklist
- [x] Replace unsupported icons \:x\: and \:heavy_check_mark\: with something that works

### Who can help?

---

### Updates

[2020-11-10 11:12] paulowoicho commented on #1526
Thanks @BatoolMM, you can also request a review from me when you make your PR!

[2020-11-10 15:13] choldgraf opened #1554 "Chapter proposal: Contributing to open source for organizations"
### Summary

I recently published [a short blog post](https://predictablynoisy.com/posts/2020/organizations-help-oss-guide/) to provide some tips and ideas for organizations that wish to contribute to open source projects/communities. @KirstieJane suggested that I open an issue here to discuss if it was of interest to contribute to the Turing Way.

### What needs to be done?

- [ ] TW folks take a

[2020-11-10 16:29] choldgraf commented on #1542
they also have the best logo ever!

[2020-11-10 18:50] Marta-MM commented on #1518
Doing the following:
-  remove 'table of contents' section
-  Remove square brackets [ ] from checklist items

[2020-11-10 19:29] bsipocz commented on #1554
I would be happy to review this/collaborate on this!

[2020-11-10 19:40] BatoolMM opened #1557 "A new sub-chapter for GitHub actions"
## Detailed description

Writing down a new sub-chapter about GitHub actions with @bsipocz. A discussion about the outline is described in this [HackMD](https://hackmd.io/@bsipocz/SJChYvdYP).

 - [x] Write chapter outline
 - [ ] Add material to the chapter
 - [ ] Combine materials into a readable chapter
 - [ ] Proofread
 - [ ] Request reviews
 - [ ] Address reviews
 - [ ] Merge to master branch.

[2020-11-11 09:23] ahornos commented on #1532
I have started to work on subchapters consitency checks:

1. Remove table of contents from make-examples.md and make-resources.md
2. Add labels to all headers in all files to enable cross-referencing
3. Split out Appendix section in make-resources.md into its own file

[2020-11-11 14:08] EKaroune opened #1565 "Updating Glossary so all definitions are in Afterword"
### Summary

The glossary needs updating so that all the definitions are  in the glossary at the end of the book in Afterword.  It would also be good to link keywords to these terms in the Afterword with a link.

### What needs to be done?

- [x] Go through the book chapters and lift out glossaries and definitions within them.
- [ ] Check with new chapter authors if any keywords need to be added.

[2020-11-11 15:30] Ismael-KG commented on #1235
I've come to the realisation that an important role this chapter could play is to motivate both (i) reflection on the wider Ethics Book's content, and (ii) interest in philosophy of science.

I think a possible introductory paragraph can be about philosophy as _continuous with science_ (Quine, [1995](https://www.jstor.org/stable/42970677)), mentioning the increasing specialisation of philosophical

[2020-11-11 16:06] malvikasharan commented on #1006
This chapter has been published and all authors are named.

[2020-11-11 16:06] #1006 closed

[2020-11-11 16:08] malvikasharan commented on #1005
@sgibson91 Please see if this chapter should be a chapter on its own or be added to the chapter on remote collaboration, currently in the PR #1566

[2020-11-11 16:09] malvikasharan commented on #965
Added to a subchapter in the PR #1566

[2020-11-11 16:09] #965 closed

[2020-11-11 16:09] malvikasharan commented on #944
Added in a subchapter in the PR #1566

[2020-11-11 16:09] #944 closed

[2020-11-11 16:10] malvikasharan commented on #943
Added in a subchapter in PR #1566

[2020-11-11 16:10] #943 closed

[2020-11-11 16:11] malvikasharan commented on #942
This needs to be added to a subchapter currently created in the PR #1566

[2020-11-11 16:12] malvikasharan commented on #941
This should be merged with Managing Remote collaboration discussed in #942 and added to the new subchapter created in #1566

[2020-11-11 16:13] malvikasharan commented on #939
Notes from this should be added to a subchapter created in #1566

[2020-11-11 16:14] malvikasharan commented on #938
This should be added to the managing remote collaboration subchapter created in the #1566

[2020-11-11 16:18] malvikasharan commented on #1007
This issue relates to the online project created here: https://github.com/softwaresaved/hybrid-event-guide (video: https://www.youtube.com/watch?v=w2M2Ejt4nfM)

Check with authors if they would like to add this in a chapter in the Guide for Collaboration.
cc. @pherterich, @mkuzak, @npch

[2020-11-11 16:33] malvikasharan commented on #942
Moved to #1567

[2020-11-11 16:33] malvikasharan commented on #941
Moved to #1567

[2020-11-11 16:33] malvikasharan commented on #939
Moved to #1567

[2020-11-11 18:13] Marta-MM commented on #1533
actions:
- Check for proper grammar and spelling
- Remove square brackets [ ] from checklist items

[2020-11-11 19:13] Marta-MM commented on #1530
Actions:
-  Change Definitions/glossary to Glossary
-  Check for proper grammar and spelling throughout

[2020-11-11 19:28] Marta-MM commented on #1517
Actions:
-  reduce all header levels by 1 (for example ## becomes #).
-  title case all headers too (change Typical workflows to Typical Workflows)

[2020-11-11 23:37] paulowoicho commented on #1565
In terms of structure, I was thinking we could split the Glossary up into five chapters, each representing a Guide in The Turing Way book. Each chapter will then just be a list of all key terms + definitions throughout its respective Guide.

If all headers in subchapters and sections have labels, we could use Jupyter Book's cross-referencing feature to link the terms to the parts of the book where

[2020-11-12 08:37] Ismael-KG commented on #1235
I just realised this comment by @Khushism -- or the part I have highlighted -- could be an interesting point to make **either** in the [Benefits & Challenges](https://github.com/alan-turing-institute/the-turing-way/issues/1234) chapter **or** in the section motivating research ethics in this book's [intro](https://github.com/alan-turing-institute/the-turing-way/issues/1227) **or** in this chapter

[2020-11-12 09:58] Marta-MM opened #1572 "Idea proposal: cognitive biases/cognitive constraints in data visualisation and understanding"
### Summary

I looked through the open issues, but I did not seem to find a section addressing cognitive biases in thinking about data/data visualisation. Would it be something we are interested in exploring? It's one of my main research interests so I can provide valuable contribution, insights, and references

### What needs to be done?

- [ ] exploring whether the topic is interesting and appro

[2020-11-12 11:07] sgibson91 commented on #1005
Hmmm, tough one. It's more about virtual events, so I think it's its own chapter under collaboration? What do you think?

[2020-11-12 12:04] sdruskat commented on #1005
FWIW, I think this makes sense :).

[2020-11-12 13:10] LauraCarter opened #1575 "Activism/resistance to laws/policies/practices"
## Detailed description

 * This issue is a place to discuss matters relating to the writing of the chapter on **activism and resistance**.
 * This chapter is being written in _pull_request_number_
 * This chapter is being developed on the _chapter_topic_ branch.

### Table of contents

TBC

### Resources

TBC

### Discussion points/related issues

This chapter could include:
- discussion of how e

[2020-11-12 13:18] paulowoicho commented on #1532
Thanks @ahornos !

[2020-11-12 13:26] LauraCarter commented on #1235
I really like the idea of having a subchapter on values - understanding what these are and how to make them explicit. Some resources on this:
* Benjamin R, Race after Technology: Abolitionist Tools for the New Jim Code (Polity 2019)
* D’Ignazio C and Klein LF, Data Feminism (The MIT Press 2020)
* edX, ‘Data Ethics, AI and Responsible Innovation’ <https://courses.edx.org/courses/course-v1:Edinburgh

[2020-11-12 13:42] irenekp opened #1578 "Guide for Ethical Research chapter: Data Anonymization"
## Detailed description

 * This issue is a place to discuss matters relating to the writing of the chapter on Data Anonymization in the Ethics Book.
 * This chapter is being written in _pull_request_number_

### Table of contents
* What is Anonymization?
* Need for Anonymization
* Considerations When Anonymizing Data
    * Understanding Your Data
    * Existing Techniques
* Re-identification Risk

[2020-11-12 16:35] Ismael-KG opened #1581 "Approach to bibliography -- request for clarity"
### Summary

*The [Citing and Referencing](https://the-turing-way.netlify.app/community-handbook/style/style-citing.html) chapter is hard to follow and should be clarified for people who do not use GitHub or the tools employed.*

### What needs to be done?

- [ ] *Change pink text to links*
- [ ] *Explain what a Bibtex file is*
- [ ] *Provide tools for people to translate sites/references into the

[2020-11-12 17:31] ashatitus commented on #1575
Cross posting from the slack thread so as to invite discussion, ideas and contributions:

One of the case studies being written up in #1238, is the Australian Online Compliance Initiative (OCI - dubbed the 'robodebt' debacle by media) involving a large scale data matching project between the federal Tax Office and the Dept of Human Services. The automated system sending out debt notices based on t

[2020-11-12 17:33] ashatitus commented on #1575
There was twitter mobilisation under the hashtag notmydebt organised independently.

[2020-11-12 18:04] martinagvilas commented on #1542
Looks awesome! @malvikasharan does [this](https://github.com/alan-turing-institute/the-turing-way/blob/master/book/website/_redirects) file contain a list of up-to-date redirects?

[2020-11-12 20:15] malvikasharan commented on #1005
Makes sense. The other PR discusses how to facilitate/organise/manage/participate/chair virtual and remote events etc.

[2020-11-12 22:14] sgibson91 commented on #1005
Also, merging the 2 would just make the chapter _huge_ 😅 Maybe this chapter precedes the other? Like "these are the types of events you could host/include, and now here's how to organise and chair them"?

[2020-11-13 09:50] malvikasharan opened #1584 "Adding contributors details from the book dash | Biohackathon November 2020"
### Summary

* We ran a book dash from 9-13 November 2020, and we would like to capture their highlights and work

### What needs to be done?

Please make sure that you share your feedback and experience from the last 5 days with us in this document: https://hackmd.io/@turingway/bookdash-nov2020-feedback-day5
1. Comment below with a link to your issues and PRs
2. Comment below your details in the

[2020-11-13 09:57] Marta-MM opened #1585 "New section proposal for the reproducibility book: pre-registration"
### Summary

I have looked around and did not find any section on study pre-registration, could we add it to the reproducibility book?
It can discuss the advantages of pre-registration as well as some technicalities; with time, we can add case studies too

### What needs to be done?

- [ ] exploring whether the topic is interesting and appropriate for the book
- [ ] drafting a structure for the ch

[2020-11-13 10:20] LauraCarter commented on #1584
[code]

[2020-11-13 10:28] Ismael-KG commented on #1584
### Issue and PR

I have worked on this issue, clarifying its outline: https://github.com/alan-turing-institute/the-turing-way/issues/1235
I have finalised the intro to the Guide for Ethical Research, which is now ready for review: https://github.com/alan-turing-institute/the-turing-way/pull/1228
I also reviewed the Data Anonymisation chapter: https://github.com/alan-turing-institute/the-turing-wa

[2020-11-13 10:37] irenekp commented on #1584
### Irene K

* GitHub id: [irenekp](http://github.com/irenekp)
* Short bio:

* Personal highlights:

* More information:

[2020-11-13 10:41] EKaroune commented on #1584
* Role: Contributor to Guide for Collaboration, **OLS2 project lead**: [Open Science in Phytolith Research](https://ekaroune.github.io/Open-Science-in-Phytolith-Research/).
* GitHub id: [EKaroune](https://github.com/EKaroune)
* ORCID: [0000-0002-6576-6053](https://orcid.org/0000-0002-6576-6053)
* Short bio:
I'm an independent post-doctoral researcher working in the field of Environmental Archaeolo

[2020-11-13 10:44] Marta-MM commented on #1584
Link to issues and PR:
- #1539, #1556, #1568, #1569, #1570: checked for typos/formatting, proofread
- #1563: proposed a chapter on data visualisation
- #1572 proposed a section on cognitive biases/constraints in visualising and understanding data
- #1585: proposed a pre-registration section for the reproducibility book

* Role: **contributor**
* GitHub id: [Marta-MM](http://github.com/Marta-MM)
*

[2020-11-13 11:27] jmfernandez commented on #1584
Link to revised PR:

* #912: checked for typos.

* #1320: checked for typos, made some suggestions (which were accepted).

Additional details
* Role: **contributor**

* GitHub id: @jmfernandez

* ORCID: [0000-0002-4806-5140](https://orcid.org/0000-0002-4806-5140).

* Short bio:
  I'm a senior research engineer from [INB](https://inb-elixir.es) coordination unit, [BSC](https://bsc.es), ELIXIR Spain

[2020-11-13 12:13] lauracion commented on #1584
* Some of my contributions this week can be found on these PRs: #1553, #1507, reviewed [this translation](https://docs.google.com/presentation/d/1N1mYNlvBTdGBfqVoKDmDxtXgpMuwuFIW/edit#slide=id.p1) generated by [Marilina Santero](https://twitter.com/SanteroMarilina), and worked with [Jem](https://twitter.com/jmiltondraws) to create new cartoons for The Turing Way. Plus a great of valuable networkin

[2020-11-13 12:25] malvikasharan commented on #1005
Sounds good to me, we can see later if we need to move some subhcapters from other chapter to this.

[2020-11-13 12:54] JoannaLeng commented on #1005
Lets not have a huge chapter :-)

[2020-11-13 13:10] sk-sahu opened #1587 "A bioinformatics case study under Guide for Reproducible Research chapter"
### Summary

As a part of book-dash-nov20, I'am working on a bioinformatics case study under Guide for Reproducible Research chapter, It's still in development. Will open a PR soon to be reviewed by the community.

### What needs to be done?

- [ ] Add the notes from hackmd to appropriate `.md` file in this repo.
- [ ] Open a PR for review

### Who can help?

@malvikasharan is already helping on t

[2020-11-13 15:53] Marta-MM commented on #1514
Checks:
- add a level two header to the prerequisites section (## Prerequisites)
- Check for good grammar throughout the file
- Ensure every sentence is written in its own line as recommended by the style guide

[2020-11-13 16:17] BatoolMM commented on #1584
* Contributions :
    * **CI service chapter:**
        * [PR #1551: Maintaining consistency in CI chapter.](https://github.com/alan-turing-institute/the-turing-way/pull/1551)
        * [issue #1557: Adding a new sub-chapter for GitHub actions](https://github.com/alan-turing-institute/the-turing-way/issues/1557)
        * [PR #1588: A new sub-chapter for GitHub actions](https://github.com/alan-tur

[2020-11-13 18:04] ashatitus commented on #1584
* Role: Data Ethics Researcher at the LSE
* GitHub id: [ashatitus](http://github.com/ashatitus)
* ORCID: [To create ORCID number] (https://www.lse.ac.uk/media-and-communications/people/research-staff/asha-titus)
* Contributions:
- Provided case study template (and reading material on good case study design) from previous research to @paulowoicho
- Worked with Jem to create a really great 'Robodebt

[2020-11-13 18:49] callummole opened #1592 "Case study from cognitive science for Guide for Reproducible Research"
### Summary

Add a case study for [this preprint](https://psyarxiv.com/bv2pt/). Though it isn't the gold standard for reproducible science it's a good example of what can be usefully achieved by a researcher without tip-top open-software skills (e.g. no knowledge of container environments).

### What needs to be done?

[ ] drafting of case study
[ ] probably some updating of docs
[ ] PR reviewing

[2020-11-13 21:38] #1514 closed

[2020-11-14 17:50] SamGuay opened #1593 "Toggle between light and dark themes"
### Summary

Instead of relying on a browser-based addon to get a dark mode, it'd be great to be able to toggle between a light and dark theme directly in the Jupyter book similar to what [Bookdown](https://bookdown.org/yihui/bookdown/) offers. It's been suggested upstream, directly on the jupyter-book repo (see issue [#707](https://github.com/executablebooks/jupyter-book/issues/707), but I think

[2020-11-14 18:22] SamGuay commented on #1584
* Role: Contributor
* GitHub id: [SamGuay](https://github.com/SamGuay)
* ORCID: [0000-0001-6990-839X](https://orcid.org/0000-0001-6990-839X)
* Short bio:

* Personal highlight:

Issues and PRs I've worked on
*    #1593 - Improving accessibility by enabling a dark theme.
*   Read a bunch of contents related to #1343 and #1342
*   Reviewed #1346 and #1339.
*   Have started to review @LauraCarter's P

[2020-11-16 17:36] martinagvilas opened #1594 "Add different OS and Python versions to CI"
### Summary

It might be a good idea to change the CI to test the jupyter book build in multiple OS using different Python versions. What do you think?

### What needs to be done?

- [x] upgrade jupyter book by merging #1561
- [ ] add to [this file](https://github.com/alan-turing-institute/the-turing-way/blob/master/.github/workflows/ci.yml) different OS and python versions

### Who can help?

- @

[2020-11-17 08:33] GeorgiaHCA commented on #1315
I'm working on the chapter outline here:
https://docs.google.com/document/d/1Tb_2EAVHVcs5v39pYNSHJHRNoIcjR0uSGKydTmPcF6o/edit

[2020-11-17 10:26] kderuyck commented on #1584
* Contributions :
           #1562: adding a new sub-chapter on Research Data Management Toolkits
           #1553, #1559: reading the content of these chapters

* Role: contributor, from the side of the ELIXIR BioHackathon

* GitHub id: kderuyck

* ORCID: 0000-0001-9921-644X

* Short bio: Since 2016, I am managing the Belgium ELIXIR Node (we pursue FAIRification of research data and facilitating

[2020-11-17 22:07] eglerean opened #1596 "N simple rules for making your code reusable?"
### Summary

I had to give a short talk on "how to make your code reusable" for my university (Aalto University, Finland) and wrote this down for the occasion:

Text: https://hackmd.io/@AaltoSciComp/howToMakeYourCodeReusable
Video of the talk: https://www.youtube.com/watch?v=FdMEeUqhJNw&feature=youtu.be

They are a collection of "N simple rules" for reaching multiple levels of code re-usability (f

[2020-11-18 11:47] paulowoicho opened #1597 "Web Accessibility in The Turing Way"
### Summary

Here I am curating a list of checks that _The Turing Way_ should eventually pass for it to be accessible.
According to [W3C WAI](https://www.w3.org/WAI/fundamentals/accessibility-intro/) making a website accessible means designing and developing it in such a way that people (regardless of their circumstance) can perceive and understand it and also contribute to it.

Even though keepin

[2020-11-19 10:12] EKaroune commented on #1565
I think that the updated glossary could be merged now as it has all of the words from the book as it is now. keywords from the new chapters can be added as each chapter is merged with the book.

[2020-11-19 10:45] EKaroune commented on #1597
Have you thought about how the book can be converted for text to speech tools. I know that microsoft word has an immersive reader that can be customised but is there a reader tool that works with a pdf file?
This article may be useful for investigating accessibility for screen readers: [screen reader link](https://webaim.org/techniques/screenreader/)

[2020-11-19 13:39] paulowoicho commented on #1597
Thanks @EKaroune. I tried out [NVDA](https://www.nvaccess.org/about-nvda/) and it seems to work fine on the web. I will test it out on a PDF document and see

[2020-11-19 19:20] malvikasharan commented on #1584
@all-contributors please add @BatoolMM for idea, content, translation and infrastructure

[2020-11-19 19:22] malvikasharan commented on #1584
@SamGuay @kderuyck @jmfernandez @EKaroune @Ismael-KG and @LauraCarter have already been added to the contributor's table.

[2020-11-19 19:24] malvikasharan commented on #1584
@all-contributors please add @lauracion for content

[2020-11-19 19:28] malvikasharan commented on #1584
@all-contributors please add @irenekp for content

[2020-11-19 19:48] malvikasharan commented on #1584
Need to add @vcheplygina, @bsipocz, @luucamay, @msanter01, @c-martinez, @sk-sahu, @martinagvilas and @sgibson91 contributions.

[2020-11-19 21:05] #1581 closed

[2020-11-20 12:32] #1473 closed

[2020-11-20 16:02] EKaroune commented on #1597
I spoke to malvika about this yesterday and she said that once the pdf of the whole book is sorted out, there could also be an epub version which will work on screen readers.

[2020-11-20 20:25] martinagvilas commented on #1584
**Contributions at the Book Dash 2020**
- Worked with @BatoolMM on the upgrade of the Jupyter Book that allows for annotation (PR #1516)
- Explored ways of printing a single pdf for the whole book (failed so far), generate a general table of contents (failed so far), and looked into redirects with sphinx (issue #1542)
- Some mentoring _(in spanish as well 🇦🇷 🇧🇴 )_
- I also gave a talk about The Tu

[2020-11-22 13:24] paulowoicho commented on #1587
Hi @sk-sahu! Just wanted to update you that I revised the [case study template](https://github.com/alan-turing-institute/the-turing-way/tree/master/book/templates/case-study-template). Hope it helps! Please also let me know how I can improve the template further based on insights from your work

[2020-11-22 13:58] paulowoicho opened #1615 "[BUG] Maintaining Consistency in project-design.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-22 14:10] paulowoicho opened #1616 "[BUG] Maintaining Consistency in personas.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-22 14:37] paulowoicho opened #1617 "[BUG] Maintaining Consistency in the Personas and Pathways Chapter"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-22 15:19] paulowoicho opened #1618 "[BUG] Maintaining Consistency in filenaming.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-22 15:22] paulowoicho opened #1619 "[BUG] Maintaining Consistency in communication.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 10:40] sgibson91 commented on #1594
I can pick up the second point. Which versions of Python should we check? I think definitely 3.7 and 3.8, but is jupyter book supported by 3.9 yet?

[2020-11-23 11:38] sgibson91 commented on #1594
I opened #1623 to address this. We have an issue that containerised actions can only run on linux builds, which means HTML proofer will **not** run on windows on mac. We could skip this step on those OSs for now and hope there's a fix later?

[2020-11-23 14:05] jcolomb commented on #648
the zenodo metadata says it is a software, this probably needs to be modified.

[2020-11-23 14:10] jcolomb opened #1626 "get zenodo metadata right"
the zenodo metadata says it is a software (at least while using zotero), this probably needs to be modified.
https://zenodo.org/record/3233986#.X7vAddt7lQI

Also maybe time to update the author list ;)

I have heard the best way to get it right is to include a zenodo.json file on the code in github, but never did it myself.

[2020-11-23 17:20] paulowoicho opened #1627 "[BUG] Maintaining Consistency in os-comms.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 17:33] paulowoicho opened #1628 "[BUG] Maintaining Consistency in os-comms-issue-tracking.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 17:44] paulowoicho opened #1629 "[BUG] Maintaining Consistency in os-comms-channels.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 17:52] paulowoicho opened #1630 "[BUG] Maintaining Consistency in Community Communications for Open Source Projects"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 18:23] paulowoicho opened #1631 "[BUG] Maintaining Consistency in collaboration.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 18:57] paulowoicho opened #1632 "[BUG] Maintaining Consistency in github-collaboration.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 19:05] paulowoicho opened #1633 "[BUG] Maintaining Consistency in"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 19:10] paulowoicho opened #1634 "[BUG] Maintaining Consistency in github-roadmapping.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 20:37] paulowoicho opened #1635 "[BUG] Maintaining Consistency github-contributors.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 20:55] paulowoicho opened #1636 "[BUG] Maintaining Consistency in github-maintainers.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 21:16] paulowoicho opened #1637 "[BUG] Maintaining Consistency in github-resources.md"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 22:22] paulowoicho opened #1638 "[BUG] Maintaining Consistency in Managing a New Community and Team chapter"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 22:33] paulowoicho opened #1639 "[BUG] Maintaining Consistency in Leadership in Data Science chapter"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-23 22:43] paulowoicho opened #1640 "[BUG] Maintaining Consistency in the Guide for Ethical Research"
# Summary of Issue

_The Turing Way_ project is an open-source endeavour that empowers contributors from around the world to leverage their skills, knowledge and expertise to build and expand its content.
_The Turing Way_ guides are evolving with multiple chapters co-developed by individuals from varied backgrounds, who are all passionate about sharing knowledge around data science and research.
T

[2020-11-24 12:42] #1520 closed

[2020-11-24 17:07] martinagvilas commented on #1594
I don't know about Jupyter Book's support for python 3.9 actually, but I guess it is not necessary to test this version for now

Awesome! Since we might get rid of the HTML proofer at some point (#1443) I agree we can skip this step on those OSs

[2020-11-25 17:04] #1594 closed

[2020-11-25 17:15] rabbits99 opened #1645 "Translation README.md in Korean"
### Summary

 Add README.md Korean Version

### What needs to be done?

- [ ] translate README.md in Korean

### Who can help?

* Anyone who can read of write Korean

---

[2020-11-26 10:27] malvikasharan commented on #1329
We have a subchapter now for online meeting logistics: https://the-turing-way.netlify.app/collaboration/remote-collab/remote-collab-meetings.html. This covers all the points mentioned by you, do you think we can refer to that in this subchapter? https://the-turing-way.netlify.app/collaboration/remote-collab/remote-collab-coworking.html#, or do you think we need to specifically write that in the la

[2020-11-26 11:09] LauraCarter commented on #1329
I think it's all covered there! So I think this issue can be closed now :)

[2020-11-26 11:09] #1329 closed

[2020-11-26 11:29] mloning commented on #1182
One more useful book with a section on CLA/DCO: [Forge Your Future with Open Source](https://learning.oreilly.com/library/view/forge-your-future/9781680506389/f_0035.xhtml#sect.cla)

[2020-11-27 00:14] ml-evs commented on #1627
This is a heads-up that I've fixed some spelling errors in this file (and many others) over at #1652. This applies equally to many of the recent "Maintaining Consistency in x" issues, but I won't tag them all here to avoid noise.

[2020-11-27 11:54] rabbits99 commented on #1335
Hello we completed make readme korean version
So we sent PR at #1650
Thank you

[2020-11-29 13:39] paulowoicho commented on #1627
Thanks @ml-evs. I will update the issues accordingly!

[2020-11-29 13:44] #1546 closed

[2020-11-29 23:04] #1645 closed

[2020-11-29 23:43] malvikasharan opened #1659 "Capturing The Turing Way's use/reuse/sharing/impact stories from our users, readers, contributors and collaborators"
### Summary

In this issue, we are inviting comments from the community members a news item for the December newsletter.

This is also the place to add their _The Turing Way_ impact information in terms of its use, reuse, remix, spin-off projects, etc.

### What needs to be done?

- [ ] Share this issue on Slack to capture Newsletter items for December
- [ ] Capture response from Twitter, see [Kir

[2020-11-29 23:52] #789 closed

[2020-11-30 09:53] #656 closed

[2020-11-30 11:23] LauraCarter commented on #1236
@rockita has already written parts on scoping and on data collection in this PR: https://github.com/alan-turing-institute/the-turing-way/pull/627

[2020-11-30 21:58] paulowoicho opened #1663 "Updating Chapter Landing Pages"
### Summary

The new chapter template recommends that the `How This is Useful/Why This is Helpful` section of chapter landing pages should be titled as `Motivation and Background`. This issue curates a list of all chapters that still use the old title and welcomes contributors to update them to follow the template's recommendations.

### What needs to be done?

Pick a chapter landing page from the

[2020-12-01 13:54] malvikasharan commented on #1221
- Book Dash report
- New set of Scriberia illustration
- Stat chart of the year (chapter, people, etc)
- Start The Turing Way: Each One Reach One - for contribution file

[2020-12-02 12:34] paulowoicho commented on #1584
**Contributions at the Book Dash 2020**
-

* Role: Book Dash 2020 participant, Google Season of Docs Participant/Technical Writer on _The Turing Way_
* GitHub id: @paulowoicho
* Short bio:

* Personal highlights:

* More information:

[2020-12-02 15:41] malvikasharan opened #1666 "Create a reference page for Remote Collaboration Chapter"
### Summary

* We have a chapter on Remote Collaboration: https://the-turing-way.netlify.app/collaboration/remote-collab.html
* It needs a further reading section to add all the guides, papers and tutorials that have been released recently. In this issue, we want to capture those.

### What needs to be done?

- [ ] Test this and delete later

### Who can help?

---

### Updates

*Lorem ipsum dolor

[2020-12-02 15:42] TimRodgers340125go commented on #1666
Thanks for your patience

[2020-12-02 16:32] martinagvilas opened #1670 "[BUG] Fixing external links"
### Summary

The way some external links are written trigger a warning in the Jupyter-Book build. External links should be written down with `https://` (e.g.  `https://twitter.com`) and not with `www.` (e.g.  `www.twitter.com`) or without prefix (e.g. `twitter.com`)

### What needs to be done?

Replace the external links written down with `www.` and without prefix, with external links written down

[2020-12-02 17:26] malvikasharan commented on #1666
Further reading:
- Tips for Teaching Online from The Carpentries Community: https://carpentries.org/blog/2020/03/tips-for-teaching-online/
- Yehudi, Y., Whitney, K. S., & Sharan, M. (2020, November 24). Enhancing the inclusivity and accessibility of your online calls. https://doi.org/10.31219/osf.io/k3bfn
- Woodley, Louise; Pratt, Catherine; Ainsworth, Rachael; Amsen, Eva; Bakker, Arne; Butland, S

[2020-12-02 17:30] malvikasharan commented on #1666
New DCC guide: tips on online meetings and events: https://www.dcc.ac.uk/news/new-dcc-guide-tips-online-meetings-and-events

[2020-12-03 11:25] LauraCarter commented on #1575
I've added a draft table of contents in the issue - edits/suggestions welcome!

[2020-12-03 11:27] LauraCarter commented on #1234
This chapter now has a landing page and 3 subchapters, all in PR #1649

[2020-12-05 18:55] choldgraf commented on #1554
Looping back in on this. Do folks think that this would make the most sense as a sub-section here: https://the-turing-way.netlify.app/collaboration/github-collaboration.html

?

[2020-12-07 12:15] LauraCarter commented on #1575
I've set up a skeleton for the workplace chapter, with a section on whistleblowers. Here's some of the things on my reading list for adding content:

- https://www.whistleblowers.org/what-is-a-whistleblower/ and https://www.whistleblowers.org/know-your-rights/international-whistleblower/
- https://www.gov.uk/whistleblowing
- https://medium.com/@AINowInstitute/how-to-interview-a-tech-company-d4cc74

[2020-12-07 13:28] malvikasharan commented on #1584
@all-contributors please add @msanter01 for translation and presentation https://twitter.com/turingway/status/1335914239962329088?s=20

[2020-12-07 13:30] malvikasharan commented on #1584
@all-contributors please add @msanter01 for translation and talks https://twitter.com/turingway/status/1335914239962329088?s=20

[2020-12-07 13:37] malvikasharan commented on #1584
@all-contributors please add @luucamay for review

[2020-12-07 13:45] malvikasharan commented on #1584
@all-contributors please add @sk-sahu for ideas

[2020-12-07 13:50] #1086 closed

[2020-12-07 13:54] malvikasharan commented on #1554
I agree on adding this in the guide for collaboration. @bsipocz do you agree?

[2020-12-07 13:58] malvikasharan commented on #1264
@all-contributors please add @jbteves for idea

[2020-12-07 14:00] malvikasharan commented on #1596
@eglerean first of all, thank you for the issue and apology for the late reply. I really like the scope of this chapter for the guide for reproducible research after code testing and code reviewing chapter. Would you like to create a PR on that?

[2020-12-07 14:27] malvikasharan commented on #1592
@all-contributors please add @callummole for idea

[2020-12-07 14:50] #1339 closed

[2020-12-07 14:51] #1110 closed

[2020-12-07 14:52] malvikasharan commented on #1065
This has been sorted.

[2020-12-07 14:52] #1065 closed

[2020-12-07 14:54] #1014 closed

[2020-12-07 14:54] #846 closed

[2020-12-07 14:55] malvikasharan commented on #784
This has been sorted.

[2020-12-07 14:55] #784 closed

[2020-12-07 14:56] malvikasharan commented on #1041
@all-contributors please add @Biostew for idea

[2020-12-07 15:00] malvikasharan commented on #783
@Kelly-dot thank you for the issue. We have meanwhile created a promotion pack and sorted the integration of videos (see our communications folder in the GitHub repo and a chapter on style guide in the community handbook). Contributions to those resources are very welcome. I will keep this issue open, but as the chapters increase and get updated, over period maintaining slides per chapter will get

[2020-12-07 15:03] malvikasharan commented on #783
@all-contributors please add @Kelly-dot for idea.

[2020-12-07 15:46] Biostew commented on #1041
Thanks very much! :) Also a reminder to me to finish writing the Persistent Identifers bit that I was working on!!

________________________________
From: allcontributors[bot] <notifications@github.com>
Sent: 07 December 2020 14:56
To: alan-turing-institute/the-turing-way <the-turing-way@noreply.github.com>
Cc: Sarah Stewart <sastewart@live.co.uk>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-12-08 14:49] Kelly-dot commented on #783
The communications folder is great! And the 5 minute slides are such a good starting point for anyone's presentation. With manging for the future, not sure, but I think these slides work well as the intro slides. Anyone who uses these slides could be encouraged to share on Zenodo community page to give people ideas on how these slides can be expanded?
In general, I think these intro slides will gi

[2020-12-09 18:00] malvikasharan commented on #1584
Adding comments to contributors.md file in PR #1688.

[2020-12-09 21:55] eglerean commented on #1596
Thank you @malvikasharan and no apologies! It is fantastic to hear that this sounds interesting to you. I will gather some collaborators first and then we can create a PR (most likely in the new year).

[2020-12-13 09:07] EKaroune opened #1690 "Getting started with Github wrong image and images are squashed"
### Summary

*Images are squashed and fig 42 is the wrong image.*

### What needs to be done?

- [x] *fix all images so not squashed.*
- [x] *change fig 42 to correct image and change alt text*

### Who can help?

* *Lorem ipsum dolor sit amet, consectetur adipiscing.*
* *Lorem ipsum dolor sit amet, consectetur adipiscing.*

---

### Updates

*Lorem ipsum dolor sit amet, consectetur adipiscing.*

[2020-12-13 22:19] #1247 closed

[2020-12-13 22:19] #1450 closed

[2020-12-14 13:20] rainsworth commented on #1659
The Software Sustainability Institute’s Collaborations Workshop series brings together researchers, developers, innovators, managers, funders, publishers, policy makers, leaders and educators to explore best practices and the future of research software. Collaborations Workshop 2021 (CW21) will take place online from Tuesday, 30 March to Thursday, 1 April 2021 and registration is now open! The the

[2020-12-14 13:27] rainsworth commented on #1659
The call for applications to the Software Sustainability Institute’s Fellowship Programme 2021 is now open! The Fellowship Programme provides funding for individuals who want to improve how research software is done in their domains and/or area of work. Being a Fellow also helps individuals develop skills and knowledge in their area around software sustainability, empowers them to speak about soft

[2020-12-14 14:00] malvikasharan commented on #1690
Is it solved with the last PR?

[2020-12-14 14:25] EKaroune commented on #1690
Yes this is done now!

[2020-12-14 14:25] #1690 closed

[2020-12-15 19:06] LauraCarter commented on #1227
Closing this now that the chapter is up! https://the-turing-way.netlify.app/ethical-research/ethics-intro.html

[2020-12-15 19:06] #1227 closed

[2020-12-16 16:00] JKasmire commented on #1640
First contribution - I'll have a look at the (er=) labels

[2020-12-16 16:05] paulowoicho commented on #1640
Thanks! Look forward to reviewing your PR!

[2020-12-16 16:24] JKasmire commented on #1640
I have come up against a bit of a barrier. Normally, when I work in git, I just push and pull to my own repos. I don't know the best way of pushing my changes to a repo like this. Should I branch? Fork? At what level?

Is there a guide for getting started with git on a collaborative repo?

[2020-12-16 17:03] ufangYang commented on #1640
Hi, I added the figure ("EthicalResearch.jpg) and format image using MyST. please let me know if you did not find them, thanks!

[2020-12-16 17:53] paulowoicho commented on #1640
Hi @JKasmire. Since you're a collaborator on this project, you don't have to create a fork of the Turing Way repository. I'd recommend creating a branch, making your changes there, then making a PR when you're satisfied with your changes.

Perhaps you might find [this resource](https://guides.github.com/introduction/flow/) useful. I'll be happy to assist if you have any more questions!

[2020-12-16 18:28] paulowoicho commented on #1640
Hi @ufangYang, could you send me a link to your PR? I can't seem to find it. Thanks!

[2020-12-16 19:11] c-martinez commented on #1596
Hey @eglerean,

I just came across your issue while looking if there were any open issues in the direction of upgrading the reproducible research chapter in the direction of reusable software (so, pretty much what you are proposing here). Really cool resource!

I would like to contribute to this (and perhaps ask some of my colleagues for their help as well). One of my colleagues recently pointed m

[2020-12-16 20:33] eglerean commented on #1596
That’s fantastic! Yes please let’s work on this together in the beginning of 2021. I also have two more collaborators from https://coderefinery.org/ . I’ll set things up after Xmas and let you (and anybody else) know.

[2020-12-17 15:45] ufangYang commented on #1640
@paulowoicho  Hi I sent a PR, please let me know if you don't see it, thanks!

[2020-12-17 17:03] paulowoicho commented on #1640
I've seen it! I left a comment about where you placed the image, but the `myst` formatting looks great

[2020-12-18 10:37] #1640 closed

[2020-12-22 15:42] EstherPlomp opened #1701 "Add data availability statement info to Open Data (Guide for Reproducibile Research, Open Research)"
### Summary

There is no info or examples for a data availability statement that you need in publications nowadays to point others to your data.

### What needs to be done?

- [ ] Add info/examples on data availability statements to the open data section (in Guide for Reproducible Research, Open Research)

### Who can help?

* *Anyone with some knowledge about data availability statements

---

##

[2021-01-04 09:38] Remi-Gau opened #1705 "Add the miss_hit package for MATLAB linting / static code analysis the code quality section"
### Summary

- no package listed for doing static code analysis with matlab / octave

### What needs to be done?

Add the mioss_hit package to the code quality page: https://github.com/florianschanda/miss_hit

The package is fairly new but it is pretty much the only one of its kind that does static code analysis and lining for both Matlab and Octave.

### Who can help?

I can take care of it

[2021-01-05 09:27] HeidiSeibold opened #1706 "The Turing Way on the Open Science Stories podcast"
### Summary
Following my new year's resolution I am starting a podcast called Open Science Stories.

https://anchor.fm/opensciencestories

I would love to do one or more episodes with people from the Turing Way community. About the project or also about other things. The idea is that each podcast episode explains an Open Science concept or idea as part of a story. Concepts that I could imagine are

[2021-01-05 09:28] HeidiSeibold opened #1707 "Podcast episode on Open Science Stories"
### Summary
Following my new year's resolution I am starting a podcast called Open Science Stories.

https://anchor.fm/opensciencestories

I would love to do one or more episodes with people from the Turing Way community. About the project or also about other things. The idea is that each podcast episode explains an Open Science concept or idea as part of a story. Concepts that I could imagine are

[2021-01-05 09:29] HeidiSeibold commented on #1707
There seems to have been a github hick up which is why this is duplicated. Closing

[2021-01-05 09:29] #1707 closed

[2021-01-05 10:07] KirstieJane commented on #1706
I love this @HeidiSeibold !! @Arielle-Bennett - can we add this to the TPS newsletter?

[2021-01-07 12:26] malvikasharan opened #1712 "[Invitation] The Turing Way and Open Life Science collaboration: OLS for Turing"
### Summary

* The Turing Way and Open Life Science have received The Turing Online Training grant to support Turing and Turing Way members training and mentorship in Open Science and reproducibility.
* We would like to invite anyone who would like to join the third and fourth cohort with one of the projects described below

### What needs to be done?

- [ ] Establishing The Turing Way steering co

[2021-01-08 19:49] BatoolMM opened #1714 "Enabling GitHub Discussions in the Turing way repo"
I'm thinking that maybe enabling **GitHub Discussions** tab could be pretty useful and beneficial for the Turing way community especially for first-timers who are intimidated to open new issues.

The problem is that we gonna have some overlap with **Issues** which could cause confusion 😕 . This idea is open for discussion.

[2021-01-09 13:53] KirstieJane commented on #1714
I think this is a super useful issue - thank you @BatoolMM!

I think the discussion about enabling GitHub Discussions needs to focus on whether we want to be forward looking - adopting new features that GitHub have brought in - or whether we want to work in a way that _at the moment_ is most similar to how many open source projects work.

One of my big goals for The Turing Way is to build a space

[2021-01-09 17:03] martinagvilas commented on #1714
Thanks @BatoolMM for opening this issue!

On the one hand, I really like the idea of @KirstieJane of making The Turing Way as similar as possible to other open-source projects to facilitate learning how to contribute to open-source in general. I do have a question on waiting until the feature becomes mainstream: When do we consider that the feature has become standard use and is ready to be added

[2021-01-10 12:45] malvikasharan commented on #1714
This is a fantastic discussion. Agree with everything that’s been said.

I would lean towards using the feature for two reasons that’s been said in this thread already: 1) making it easier for new users to join/open a discussion which is indeed more  friendly than issues. 2) be the example of open source community that adapts to new changes (maybe we test this and if this doesn’t work we stop the

[2021-01-11 13:46] sgibson91 opened #1716 "Prepare and run Binder workshop at SSI Research Software Camp 3rd MARCH 2021"
### Summary

The Software Sustainability Institute are running an online [Research Software Camp](https://www.software.ac.uk/news/join-our-first-online-research-software-camp) and are looking for workshops to "deliver training around an aspect of research (software) accessibility, demonstrate a tool or service, or explore a topic to invite discussions from participants." I believe the "Boost your

[2021-01-12 11:59] malvikasharan opened #1717 "2021 conferences to attend: Invite volunteers, submit abstract"
### Summary

* There are several conferences in 2021 that are open for abstract submissions. Please respond below which conference you would like to attend and represent The Turing Way.

### What needs to be done?

Some ideas - your contributions are invited:
- [x] FOSS Backstage <-- I will be giving a talk here
- [ ] CSV,Conf 21 <-- would like to submit an abstract
- [x] Collab Workshop 21
~~- [x

[2021-01-12 12:10] sgibson91 commented on #1717
Put me down for CW21! I'd be interested in helping out with the csv,conf submission too (saw the CFP but wasn't sure what to submit!)

[2021-01-12 12:18] malvikasharan opened #1718 "Collect news item for February 2021 newsletter"
### Summary

* The next newsletter will be sent on 17 January 2021
* Any news item can be posted below as a comment

### What needs to be done?

- [ ] Collect all the items and share in the news letter

### Who can help?

* Anyone from the community who has something to share 👍

---

### Updates

*Lorem ipsum dolor sit amet, consectetur adipiscing.*

[2021-01-12 17:43] malvikasharan commented on #1712
Another idea: Improving reusability of The Turing Way illustration in different languages.
- This will involve translating [Scriberia images](https://zenodo.org/record/3332808) in different languages, starting with Spanish, Chinese and French where our book translations are going on. This might not directly fit in OLS, but happy to be proven wrong :D

[2021-01-14 11:21] LauraCarter commented on #1717
For RightsCon, there is an option to record an 8-10 minute tech demo - this might be a good opportunity to record a short talk (maybe based on [this talk](https://zenodo.org/record/3968454#.YAAnuOAaSi4) @malvikasharan did last year - how long was that?) which we could use for other purposes?

[2021-01-14 14:32] malvikasharan commented on #1717
My talk was for 10 minutes followed by Q&A. Feel free to reuse them.

[2021-01-18 11:00] malvikasharan commented on #1237
Ethics framework of NHS: https://www.gov.uk/government/publications/data-ethics-framework/data-ethics-framework-2020

[2021-01-18 15:48] mloning opened #1721 "Guidance on software engineering for data science"
### Summary
It seems that there is some guidance missing on software engineering/design for data science, based on a brief discussion on slack with @lauracion, @KirstieJane, @martinagvilas and @malvikasharan.

* There are lots of generic software engineering resources, but few are focused on data science, and it is often not obvious how to translate them into research code.
* Data scientists often

[2021-01-18 16:33] KirstieJane commented on #1721
Following on from a point that @malvikasharan raised on slack. I feel like your paper is much more focused than "software engineering" for data science. I haven't read the paper, but knowing the work that you've been doing for the last few years I think the huge added value is in the thoughtful _design_ of ML toolboxes. I would LOVE for that to be featured in the Project Design section of the book

[2021-01-18 16:56] mloning commented on #1721
Agreed, it's more about API design on the code level rather than software engineering more broadly.

[2021-01-19 11:26] sgibson91 commented on #1716
I submitted the workshop advert just now with very little editing. Mainly changing the programme to "Recommended Timings" (to show flexibility) and adding a few mention of "accessibility" to link in with the event theme. Happy to put up a PR if it'd be useful!

[2021-01-19 21:42] EKaroune commented on #1712
Is the title meant to say existing rather than exiting?

[2021-01-20 10:24] crangelsmith commented on #1718
Hi @malvikasharan, maybe we can let the community know that we are hosting sessions to work on the Spanish translation of the book every Monday at 5pm (UK time). If anyone wants to join they can go to the slack channel #traducción-español or contact me directly and I'll send them the rolling invite to these sessions :)

[2021-01-20 12:14] LauraCarter commented on #1717
@malvikasharan great! I'll work on a proposal in today's collaboration cafe.

[2021-01-20 12:30] malvikasharan commented on #1717
Pinging @EKaroune https://or2021.openrepositories.org/call-for-proposals/

[2021-01-20 16:58] LauraCarter commented on #1717
PR open for RightsCon submission here: https://github.com/alan-turing-institute/the-turing-way/pull/1722 - I'm hoping to finalise this in the coworking on Monday 25th Jan (deadline is 26th!)

[2021-01-25 12:18] LauraCarter commented on #1717
Submitted!

[2021-01-25 15:49] JamesSCTJ commented on #1315
@GeorgiaHCA @malvikasharan

I've gone through the outline for the Turing Way Chapter and have the following takeaways and questions which it would be great to resolve to help me move forward. Subject to that, I am confident that I can get the vast majority of the writing done over the next week or so (fingers crossed!).

Format: Do you regard this as a full chapter of the document (in the same way

[2021-01-26 10:08] sgibson91 opened #1725 "[BUG] Book build on Netlify is failing"
### Description

The building of the book is currently failing on CI. See #1724 for an example

#### Expected behaviour

The build succeeds and passes.

#### Actual behaviour

The build fails 😢

### How to reproduce

Click the link posted by the netlify bot on the above PR and see the logs of the failed build.

### Your personal set up

- OS:

OSX

- Browser:

Google Chrome

- Dependencies:

### F

[2021-01-26 10:26] martinagvilas commented on #1725
The netlify build is using `sphinxcontrib-bibtex 2.1.4` triggering [this issue](https://github.com/executablebooks/jupyter-book/issues/1137), and I guess that's why the CI from github action is not failing (its using `sphinxcontrib-bibtex 1.0.0`.

I don't understand why the netlify build is using the wrong version though, if `requirements.txt` specifies the `1.0.0` one.

[2021-01-26 10:32] martinagvilas commented on #1725
I think your branch has the old version of the `requirements.txt`, but why is the `files changed` tab on the PR not showing that difference? 😮

[2021-01-26 10:34] sgibson91 commented on #1725
I git pulled before creating the branch, but maybe the action I have running to update my forks automatically didn't work. Let me git pull upstream.

[2021-01-26 10:36] malvikasharan commented on #1725
Ah, I see you have sorted this here. I also edited your file.

[2021-01-26 10:41] sgibson91 commented on #1725
I synced and pushed which seems to have fixed it (but @malvikasharan also pushed a specific fix so unsure to say which)

[2021-01-26 11:32] sgibson91 commented on #1725
I'll close this - thanks for your help everyone! 🚀

[2021-01-26 11:32] #1725 closed

[2021-01-26 11:37] malvikasharan opened #1726 "Add quarterly report on repo: check with Kirstie"
### Summary

* For Turing quarterly report, The Turing Way drafts a document every few months
* It's a good record of what happens in the project and will be valuable to add them on the repo

### What needs to be done?

- [ ] Check with @KirstieJane if we should add the report online (I have all the reports for 2020)
- [ ] What kind of information should be removed (any specific information that i

[2021-01-26 11:41] KirstieJane commented on #1726
YES PLEASE! OOOOOOOH - that's great.

Can you put them in a hackmd and send just to @Arielle-Bennett and me to check if there's anything that should be redacted? I _think_ for this project the answer is likely no.... but would be good to have a cautious run though.

[2021-01-26 15:49] nehamoopen commented on #1701
I'm swamped at my day job, so I can't get involved as much as I would like. But here's a link I thought was useful too: https://researchdata.springernature.com/posts/tips-for-writing-a-dazzling-das-data-availability-statement

[2021-01-27 09:43] sgibson91 commented on #1210
This is now a supported feature in the repository settings https://github.com/github/renaming#renaming-existing-branches

[2021-01-27 09:45] sgibson91 commented on #1210
Things that the new feature won't do:

- [ ] Rewrite our CI files to the correct branch
- [ ] Update any docs

[2021-01-27 11:00] Aida-Turing commented on #1718
Dear Turing Way Community,

Here is an opportunity to engage with UKRN (UK Reproducibility Network) to help them draft scripts for animated videos (2-3 min) explaining topics in open research. :film_projector: Full info below.
..............

As you may know, UKRN recently produced a series of Primers on Open Research (https://www.ukrn.org/primers/). These are now being developed into 2-3 minute a

[2021-01-27 13:23] sgibson91 commented on #1716
This proposal has been accepted! I will update the top comment with the new TODOs.

[2021-01-27 13:30] sgibson91 commented on #1717
#1716 has been accepted, I am continuing to use that issue to plan unless a new one would be preferred?

[2021-01-27 13:44] sgibson91 commented on #1716
## Seeking Presenters and Helpers

It would be absolutely _FANTASTIC_ if some members of the community were able to volunteer some time to speak and/or help facilitate this workshop. I've tried to outline the two roles below, but please ping me any questions!

### Presentations

There are three main presentations that make up the workshop. Previous slide decks for these can be found in the [reposi

[2021-01-27 13:46] malvikasharan commented on #1726
Shared! I will close this issue and open a PR once approved.

[2021-01-31 17:52] malvikasharan commented on #1716
Congrats @sgibson91. Please keep using this issue - no need to open a new one as long as you are happy working on the same branch.

[2021-02-01 07:31] adswa opened #1727 "Stale link: DMP section to RDM portal"
In the section [Research data management - data management plan](https://the-turing-way.netlify.app/reproducible-research/rdm/rdm-dmp.html, the link to the TU Delft's RDM portal does not resolve. It links to [https://www.tudelft.nl/en/library/current-topics/research-data-management/](https://www.tudelft.nl/en/library/current-topics/research-data-management/), but I believe it should link to [https

[2021-02-01 10:27] edaub opened #1729 "Proposed Chapter -- Hashing outputs to confirm reproducibility"
This is a proposed new chapter that focuses on how hashing can be used to support reproducibility of analyses. Many projects use sensitive data and/or use secure computational environments, which make saving the full results of the computation for checking reproducibility problematic. The chapter will explain how hashing can help mitigate this problem and illustrate how the `repro-catalogue` tool

[2021-02-01 12:11] Arielle-Bennett commented on #1575
Idea:  write up some case studies about science strikes that have taken place as part of the workplace activism section.

Examples: ALMA telescope workers in Chile, the Skylab space strike, and recent UCU strikes in the UK.

[2021-02-01 20:46] #1727 closed

[2021-02-02 10:07] sgibson91 commented on #1716
### Meeting notes from discussion with Selina

* Biggest thing SSI can provide is (some) control over the Zoom room for gauging participation and providing assistance
  * Breakout rooms for debugging
  * Yes/No feedback
* Zoom has moved it's Yes/No/Faster/Slower feedback from "Participants" to "Reactions" which means they expire after 10 secs 😱 We will have a hackmd for feedback as well and Selina

[2021-02-02 14:50] EKaroune commented on #1716
I'm fine to help out - to do the intro talk.

[2021-02-02 19:21] EKaroune commented on #1585
Hello Marta, I am starting to write a chapter on collaborative publications and part of this is to write about new types of publications such as preregistered reports. I wondered if you have already written this for this chapter that you are suggesting here or whether you would consider writing that part for me?? You can ping me on slack if easier to discuss this.

[2021-02-03 10:15] sgibson91 commented on #1716
@EKaroune @martinagvilas Can I check if you are also ok to help field questions/troubleshoot during the Zero-to-Binder hands on session?

[2021-02-03 11:08] martinagvilas commented on #1716
@sgibson91 I can help with that as well 👍

[2021-02-03 13:39] malvikasharan opened #1731 "Create a history page for The Turing Way"
### Summary

* We are in 2 year of the project, a history page will allow people to see how we have evolved

### What needs to be done?

- [ ] Create history time line to add in the community handbook
- [ ] Invite people to add images and curate issues and quotes from past 2 years
- [ ] Highlight important milestones

### Who can help?

*  Anyone interested in working on this

---

### Updates

*L

[2021-02-03 13:40] malvikasharan opened #1732 "A chapter on paths to enter The Turing Way"
### Summary

* In my talks I highlight many pathways to enter the project, which we can add on the community handbook as a chapter

### What needs to be done?

- [ ] In this issue collect all the different pathways we have designed in the Turing Way
- [ ] Many pathways are described in the acknowledgement chapter so we can focus more on ways to step into the project

### Who can help?

* Anyone fr

[2021-02-03 13:47] BatoolMM commented on #1731
This is an amazing idea, Are we using graphics (adobe illustrator) to create the history timeline? or only text to describe it? or do you have a picture in mind on how it's going to look? it'll be awesome.

[2021-02-03 13:55] malvikasharan commented on #1731
A graphic will be great, but we can also think about something that is descriptive for screen readers.

[2021-02-03 14:04] EKaroune opened #1733 "Communicating open science/ Open science publications"
## Summary

Think about answering the following questions

**What is the name and purpose of your chapter?**
- Title not decided yet but somethung like 'Communicating open science/Open science publications'
- The purpose is to bring together information about the new ways that open science projects are being communicated so including blogs, lay summaries, and new types of articles such as data pap

[2021-02-03 15:18] malvikasharan commented on #1732
Why? - Discussion with the Collaboration Cafe attendees: Laura A, Laura C., Emma K., Esther P.
- Make reproducible research easy and accessible
- Create an inclusive community that empowers people to do what they do best
- Community, sharing personal resources - part of a group
- My why is for its vision and because it is a welcoming international community where I feel included :-)
- Like to lear

[2021-02-03 15:33] LauraCarter opened #1734 "Event proposal: joint Turing Way / DataKind UK event"
### Summary

[DataKind UK](https://datakind.org.uk/) is an organisation that supports social change organisations in the UK to use data science (there are also [DK chapters](https://www.datakind.org/) in other countries). DKUK runs regular DataDive events for volunteers to work together with organisations to use data better, and in 2020 did the first Ethics DataDive to explore different tools used

[2021-02-03 15:36] LauraCarter commented on #1734
I've started to work on a proposal in a [google doc](https://docs.google.com/document/d/1ROxKZpBZabsaFrFwPIQ9qpmpjcCBrrP1p3rlrryrHw8/edit?usp=sharing)
I'm hoping to share a first version with the DKUK Ethics Committee (of which I am a member) at our next meeting on 22 Feb, so comments would be very welcome before then!

[2021-02-03 17:02] LauraCarter commented on #1734
@malvikasharan, particularly welcome your feedback on this as Community Manager! Especially on things that we might not have considered for running a short Book Dash, and on any reporting requirements we should be aware of?

[2021-02-03 17:22] malvikasharan commented on #1734
Brilliant. I have been following their work for a while (learned about it from you), and really like what they do. Thank you for writing this proposal Laura, I will have a look now. Tagging @KirstieJane for her opinions.

[2021-02-03 17:52] LauraCarter commented on #1734
Thanks @malvikasharan for super helpful comments! @KirstieJane very much welcome your input as well!

[2021-02-03 18:03] malvikasharan commented on #1732
Created the landing page and notes for 2 subchapters here: https://hackmd.io/8GMLCat8RaaiwJoMjp5YNQ

[2021-02-03 19:33] EKaroune commented on #1716
Sorry for the delay - had to check with KW but she's ok'd me to be with you
all day. So it's yes to speaking and talking!

On Wed, Feb 3, 2021 at 10:15 AM Sarah Gibson <notifications@github.com>
wrote:

--
Dr Emma Karoune

[2021-02-04 08:47] sgibson91 commented on #1716
Wonderful, thanks both!

[2021-02-04 08:50] sgibson91 commented on #1716
Wonderful, thanks both!

[2021-02-04 09:00] EKaroune commented on #1716
Just realised I typed speaking and talking, and meant to say speaking and
helping! 😋

On Thu, Feb 4, 2021 at 8:47 AM Sarah Gibson <notifications@github.com>
wrote:

--
Dr Emma Karoune

[2021-02-04 17:15] malvikasharan commented on #1718
https://twitter.com/Gen_R_/status/1357305382390145025?s=20

[2021-02-05 15:38] EKaroune commented on #1733
I've started my first draft [here](https://hackmd.io/z3wbuBKXTQif8-Wd6u6Q0g)

An written a draft plan for the guide to communication [here](https://hackmd.io/VHDWuGcbRWG1GqXuEhgarw)

[2021-02-06 19:41] complexbrains opened #1737 "Adaptation of the Turing Way's Contribution Guideline for Brainhack Jupyterbook Community Resources"
### Summary

Dear Turing Way family. This is Isil Bilgin from Brainhack Global Organization Committee https://brainhack.org/global2020/ . The reason for this issue is to request your suggestions and recommendations in adopting one of your very well prepared tool, the contribution guideline to one of the Brainhack's initiatives I describe below.

Some of you might have heard that as the Brainhack c

[2021-02-06 21:24] malvikasharan commented on #1718
https://scigen.report/info/reproducibility

[2021-02-09 15:45] EKaroune commented on #1733
I've now decided that it would be great to have case studies from researchers that are effectively using the different science communiation methods - so have contacted Veronika CH about blogging, Orion Open science about podcasting, and open to suggestions for the other ones.

[2021-02-09 16:03] Marta-MM commented on #1733
I can get in touch with other researchers who can provide material and info for case studies

[2021-02-09 16:58] EKaroune commented on #1733
That would be super! 😁

On Tue, Feb 9, 2021 at 4:03 PM Marta-MM <notifications@github.com> wrote:

--
Dr Emma Karoune

[2021-02-11 18:06] malvikasharan commented on #1717
The CW21 abstract "Good Practices for Designing Software Development Projects (The Turing Way)" has been accepted: The session has been tentatively scheduled for CW21 Day 2: Wednesday, 31 March 2021 from 14:15 - 14:45 BST (13:15 - 13:45 UTC), you can view the full agenda here: https://bit.ly/ssi-cw21-agenda

[2021-02-12 13:21] Arielle-Bennett commented on #1575
💡 Idea: Include piece on rise of tech/media unions

https://www.cnn.com/2021/02/11/media/medium-union/index.html
https://www.bizjournals.com/sanjose/news/2021/01/05/alphabet-union-doubles-size.html

[2021-02-12 13:22] Arielle-Bennett commented on #1575
💡Idea: other science activism examples (if anyone wants to write these up as case studies!)

https://twitter.com/PulpLibrarian/status/1359828722766008322

[2021-02-12 23:13] BatoolMM commented on #1717
As I mentioned in the slack, my talk for [Saudi Data Science Community/DataSharqiyah](https://www.datacommunitysa.com/home/) will be next week on the 17th of Feb. A very brief agenda is [here](https://twitter.com/DataSharqiyah/status/1360279420603404295). I'll also finish it off completely on Sunday. Any feedback will be greatly appreciated 🌷 .

[2021-02-17 15:28] selena-droid commented on #1732
I'd like to help with this.

[2021-02-17 15:30] NanaHayf commented on #1732
Hi, I'd be happy to read a bit more

[2021-02-22 10:32] LauraCarter commented on #1717
@BatoolMM how did the talk go?

[2021-02-22 16:05] Hanaffi commented on #1731
@malvikasharan
Hello Dr. Malvika,
Can  you assign it to me , please?

[2021-02-22 21:10] BatoolMM commented on #1717
Thank you for asking @LauraCarter 🥰, that's so nice of you.  It was better than I anticipated. I tried to keep it simple because the audience has no background in Open Science and Biology at all. So, I didn't discuss Machine Learning (ML) algorithms in details. I only gave an overview of how ML is used in life sciences with an introduction to Open Sciences.  My code for xaringan slides is availabl

[2021-02-23 09:56] sgibson91 commented on #1716
@malvikasharan Do you have time to create one of your absolutely gorgeous hackmd's under the Turing Way team for this event please? 🌺

[2021-02-23 15:55] malvikasharan commented on #1731
@Hanaffi Given you are a first-time contributor, extracting the history of the project will be a bit challenging. when @KirstieJane can create the first draft, the contribution can be opened up for new contributors.

Meanwhile, can you choose a task that new contributors can execute ("good first issue" labels), review an existing PR, or work on topics that don't require prior experience with The T

[2021-02-23 15:57] malvikasharan commented on #1670
@Hanafi can you please take on this issue?

[2021-02-23 16:07] Hanaffi commented on #1670
@malvikasharan Yes, Can you assign it to me please?
Btw, Its `Hanaffi` not `Hanafi`  (Double 'n') 😁

[2021-02-23 16:09] malvikasharan commented on #1670
Corrected your username. It's all yours.

[2021-02-23 16:29] malvikasharan commented on #1717
Note: Add Batool's slides (https://zenodo.org/record/4557637) on this table: https://github.com/alan-turing-institute/the-turing-way/tree/master/conferences

[2021-02-23 16:38] BatoolMM commented on #1717
Thank you Malvika, I'll submit a PR now.

[2021-02-23 17:03] BatoolMM commented on #1717
Submitted PR #1746 to link the talk to the TW GitHub repo.

[2021-02-24 14:14] KirstieJane commented on #431
Reviving this issue - although I wonder if there might be another that @paulowoicho and @malvikasharan worked on - feel free to merge if that's true.

We have a few options for analytics:

* google analytics -- no - too evil
* netlify analytics -- good because its integrated into our deployment system, too young to see if they're going to be evil too
* matomo -- good - used by a bunch of projects

[2021-02-24 14:19] malvikasharan commented on #431
Thanks to @paulowoicho, we had merged the #1660 to test Matomo on the book (a free trial of their cloud-based analytics is over). It worked pretty well, so if we want to add Matomo, we need to set up the payment system.

look forward to hearing about other analytics system @KirstieJane mentioned and which one to take forward.

[2021-02-24 15:12] #1295 closed

[2021-02-24 15:25] Arielle-Bennett opened #1749 "Talk proposal: Lightning talk at CW21 on the Activism Chapter of the Ethics Book - deadline 7 March"
### Summary

Issue to discuss Lightning Talk proposal for the "Activism" chapter of the Ethics Book for the Software Sustainability Institute's Collaborations Workshop 2021.

Deadline 7 March

Guidelines and more information here: https://www.software.ac.uk/news/call-lightning-talks-collaborations-workshop-2021

### What needs to be done?

- [ ] Draft title
- [ ] Draft abstract
- [ ] Feedback on t

[2021-02-24 15:33] KirstieJane commented on #431
From Thad Guirdy in the Code for Science and Society slack;

Plausible is super lightweight with their script being 22 times smaller than Matomo script and 45 times smaller than Google Analytics.  Also, they buy only 100% green energy to power themselves. https://plausible.io/vs-matomo

[2021-02-24 16:25] Arielle-Bennett commented on #1733
https://soundcloud.com/reproducibilitea - another podcast!

[2021-02-24 16:47] Arielle-Bennett commented on #431
On payment - it depends on how much the overall cost is as to whether it's better to get it invoiced directly or it's fine to reimburse.  Should be resolvable either way!

[2021-02-24 17:13] malvikasharan commented on #431
£190 +tax per year for the basic plan for Matomo.

![image](https://user-images.githubusercontent.com/5370471/109038310-82cb6480-76c3-11eb-9484-68268c487fee.png)

[2021-02-24 17:14] malvikasharan commented on #431
@KirstieJane That's strong support for Plausible. I can test try testing it.

[2021-02-24 18:33] malvikasharan opened #1751 "Preparing to make a new release on Zenodo"
### Summary

* We will make a mega release next month, and then make 3-4 minor releases in 2021 (quarterly)

### What needs to be done?

- A draft release is added here: https://github.com/alan-turing-institute/the-turing-way/releases
- An author list will be updated and uploaded, I will keep this issue up to date as we progress

### Who can help?

* Anyone: who would like to share any feedback or

[2021-02-24 22:16] paulowoicho commented on #431
Regarding user/reader experience as well, I think the fact that Plausible is more lightweight than Matomo means that it shouldn't have too much of a negative effect on the load times of pages in The Turing Way book, especially for readers on slower internet connections.

[2021-02-24 22:54] KirstieJane commented on #431
The one thing that I know Matomo does is track how long someone is one a particular page. Netlify doesn't do that and I'm not sure about Plausible. @malvikasharan - when you're investigating can you have a look to see if Plausible gives those stats?

[2021-02-25 11:39] Arielle-Bennett commented on #1575
More suited to whistleblowing or policy section
* Union of Concerned Scientists https://www.ucsusa.org/

[2021-02-25 11:58] #960 closed

[2021-02-25 12:32] malvikasharan commented on #1670
Warning that still exist:
- File: afterword/contributors-record
  - (line  557) broken    https://umontreal.openscience.ca
- collaboration/github/github-maintainers
  - https://the-turing-way.netlify.app/open-source-comms/intro.html MOVED TO `https://the-turing-way.netlify.app/communication/os-comms.html`
- collaboration/leadership/leadership-stories
  -  https://grp-bio-it.embl-community.io/blogs

[2021-02-25 12:59] Hanaffi opened #1753 "Build on windows"
### Description

- [ ] Allow users to build on windows 10

[2021-02-25 13:14] Hanaffi commented on #1663
@malvikasharan  Assign?

[2021-02-25 13:47] Lovkush-A opened #1755 "[BUG] Broken or out-of-date links in contributor's guide"
### Description
The two links in inclusivity section of contributor's guide do not work. https://github.com/alan-turing-institute/the-turing-way/blob/master/CONTRIBUTING.md

- [ ] Link to University of Leicester inclusive writing guide redirects to Skills Centre homepage
- [ ] Link to about blogpost on colour-blind friendly plots goes to 'Page Not Found' page

Please tick off the boxes above when

[2021-02-25 14:07] Lovkush-A opened #1756 "[community] [question] Is the Gitter channel redundant?"
### Summary
In the 'Getting in touch' section of contributors guide, it says for Gitter:

We'd love for you to swing by to say hello.

I went there and there has not been a message since October. It seems to have been a bit more active previously, but not so in past 6 months.

### What needs to be done?
- [ ] At a minimum, I think the description of the Gitter channel needs to be updated, as it is

[2021-02-25 14:10] Lovkush-A commented on #1756
My own (uninformed - I am new to this project) preference is that Gitter channel can be removed.
* It does not give good (nor accurate) first impression to a newcomer. Especially when project advertises itself as super welcoming and friendly!
* It seems redundant. Is there anything you can do in Gitter that you can't do in Slack?
* I have a general tendency towards minimalism and decluttering.

[2021-02-25 15:26] Lovkush-A commented on #1670
@malvikasharan I have locally built the book using jupyter-book. Where do I see the warnings for links? I got a bunch of warnings in my terminal, but none that reference links. (Many of the warnings are `'myst' reference target not found`

[2021-02-25 16:11] #1718 closed

[2021-02-25 16:15] malvikasharan commented on #1756
Gitter is a public-facing platform, and Slack needs a link to enter. Slack was launched last summer and therefore there was a  transfer time, which is the reason why the Gitter channel was not achieved and kept active. So it is still accurate information.

You can create a PR to update the link in the contribution guideline.

I don't think we advertise ourselves as a super friendly project, we try

[2021-02-25 17:04] Lovkush-A commented on #1756
Thanks for the reply! I apologise - I did not explain myself well.

1. The description for Gitter is: "This will be a good place to start if you are new to the project", which sounds like one should go to Gitter before Slack. However, and I could be wrong, it looks like Slack is currently the better place to start.  This is why I think the description for Gitter is inaccurate.

2. Friendliness.
I

[2021-02-25 17:50] malvikasharan commented on #1756
Thanks for PR #1757 and for updating the links. I have suggested rephrasing of Gitter section to address your concern. I hope that helps.

[2021-02-25 17:57] Lovkush-A commented on #1756
Yes, that helps, thanks for making the change. As with most of these things, we could spend hours going back and forth on the phrasing of a single sentence. Might be worth getting the opinion of other new-comers or other contributors. Otherwise, am happy for issue to be closed.

[2021-02-26 09:05] #1755 closed

[2021-02-26 09:05] #1756 closed

[2021-02-26 09:09] malvikasharan commented on #1593
@Hanaffi would you like to do this one? This is not a text-based task as asked by you.

[2021-02-26 09:10] Hanaffi commented on #1593
@malvikasharan Yes, Thanks

[2021-02-26 09:10] #1584 closed

[2021-02-26 09:12] malvikasharan commented on #1542
Sorry for totally missing this. @martinagvilas that file has all the redirects when we transitioned from one guide book to multi guide book. It uses netlify redirects feature.

[2021-02-26 11:50] Hanaffi commented on #1593
@malvikasharan Do you have any color preferences ?

[2021-02-26 14:40] malvikasharan commented on #1732
Hi @selena-droid and @NanaHayf, please checkout the "first new issue" labels to pick some small tasks. This issue is not suitable for new contributors as there is a lot of project management element in this I would like to leave for core contributors. Happy for you all to read that though, as the target audience will be people like you who are just trying to enter the project.

[2021-02-26 14:44] malvikasharan commented on #1593
I think you can start with a basic colour scheme to test and demo and then we can ask other members to share thoughts and preference.

[2021-02-27 11:17] Lovkush-A commented on #1749
@ArielleBL @Arielle-Bennett. I would be happy to help. :smile:

Note I am new to Turing Way, so I am not best positioned in the drafting stages. However, the fact I am new might provide a useful perspective for feedback. Please let me know if/when I can help!

[2021-02-27 14:44] Lovkush-A commented on #1639
Hello! I would like to work on these two inconsistency checks. I will do the following:
* remove landing page from table of contents
* create an issue for landing page to be made
* create an issue for subchapters to be written

I am unfortunately not in a position to write content for it, as I do not have knowledge/expertise in this area.

How do I check off the options from the checklist?

[2021-02-27 15:11] paulowoicho commented on #1639
Hi @Lovkush-A! Thanks you for wanting to work on these, and I look forward to your contributions. Feel free to tag me in any PRs you make if you want me to review them quickly.

When you're done you could click on the checkbox next to the item you've worked on to check it off from the list.

Thanks 💯

[2021-02-27 15:13] Lovkush-A commented on #1639
And an update on my efforts:
* remove landing page from table of contents
    * as far as I can tell, I cannot remove the landing page for the leadership chapter without also removing the subchapter on personal stories
* adding new issues for landing page and subchapters to be written
    * I saw your issue 1391 which lists the (sub)chapters that need to be written, so thought it might be redundan

[2021-02-27 15:14] Lovkush-A commented on #1639
(Also, when I click on the checkboxes, nothing happens... )

[2021-02-27 15:18] paulowoicho commented on #1753
Hi @Hanaffi! This seems to be a general issue with [Jupyter Books ](https://github.com/executablebooks/jupyter-book) which is the 'platform' that underlies The Turing Way book.

You can have a look at this [issue](https://github.com/executablebooks/jupyter-book/issues/906) to see the solutions there help.

[2021-02-27 16:05] paulowoicho commented on #1639
Ah you're right. There's no need to create the issues. I will go ahead and edit this issue so that it is just focused on writing content for the Chapter.

Thanks so much for catching that, feel free to check out other good first issues you might also find interesting.

[2021-02-27 16:21] Lovkush-A commented on #1637
I just made a PR to address the 1st, 2nd and 4th items on the checklist.

[2021-02-27 16:34] Lovkush-A commented on #1636
I would like to tackle the first item in the checklist, to re-structure this subchapter into a chaper of its own.

[2021-02-27 17:55] paulowoicho commented on #1636
Awesome!

[2021-03-01 10:11] sgibson91 commented on #1716
Just updating this issue with things that have happened in emails and/or video chat.

* We will be Zoom hosts and @BrainonSilicon will be facilitating breakout rooms
* We have access to the SSI's slido account for questions and a poll of "Are you ready to move on? yes/no" for checking progress on Zero to Binder (this is because Zoom has moved it's yes/no options to reactions which means they are n

[2021-03-03 14:21] sdruskat opened #1766 "[BUG] Broken link in Zero to Binder Python lesson"
### Description

- [ ] In https://github.com/alan-turing-institute/the-turing-way/blob/master/workshops/boost-research-reproducibility-binder/workshop-presentations/zero-to-binder-python.md#medium-public-files, the link to the Binder postBuild section is broken.

#### Expected behaviour

- [ ] The link opens the respective section correctly

#### Actual behaviour

- [ ] Getting an error message on

[2021-03-03 14:46] #1766 closed

[2021-03-03 16:03] Arielle-Bennett commented on #1717
PR for Lightning Talk on the Activism Chapter of the Ethics Book: https://github.com/alan-turing-institute/the-turing-way/pull/1769

[2021-03-04 10:35] LauraCarter commented on #1575
The first version of the chapter is up! https://the-turing-way.netlify.app/ethical-research/activism.html

[2021-03-05 10:59] malvikasharan opened #1777 "Project team: Community documentation to create"
### Summary

I am listing different sub-projects that the core team is planning or currently working on

### What needs to be done?

- [ ] History page #1731
- [ ] Different workflow used by community members to participate in the project (short videos, illustrations and stories)
- [ ] Entering the project (sub-chapters on the roles and description of what 'contributions' mean, linking to the ackn

[2021-03-05 14:56] malvikasharan commented on #431
@alexmorley Can you please transfer the netlify access to Kirstie and/or the turingway@gmail.com, or enable the team setting? I would like to check the analytics features directly from the Netlify server.

[2021-03-05 16:19] #1749 closed

[2021-03-05 16:46] alexmorley commented on #431
Verification email should be sent. Once verified I'll ping a password reset email to that address too.

[2021-03-05 19:18] inwaves commented on #1635
Hi @paulowoicho, is there a file in the repo where there are already labels added to the headers so I can use it as an example? What would a label look like for the "Personas and Pathways" header? Something like `(cl-github-contributors-personas-and-pathways)=`?

[2021-03-08 13:41] EKaroune commented on #1733
Updates are:
* For blog posts - Veronika Cheplygina has completed the interview questions for a case study - see hackmd [here](https://hackmd.io/MDeQPBU7RJy9arNfWoi88g).
* For podcasts - Emma Harris has completed interview questions for a case study (hackmd [here](https://hackmd.io/-u5882WxQueFib5tyDcncg)) and a zoom interview is booked with the rest of the orion open science podcast team to add t

[2021-03-09 09:07] sgibson91 commented on #1433
I can perhaps take this on in April - and I'm also going through Carpentries instructor training next week! 🙌🏻

[2021-03-09 21:20] malvikasharan opened #1786 "Move sharing and archiving to communication and add info about zenodo release"
### Summary

* The chapter on sharing and archiving exists in RDM at the moment: https://the-turing-way.netlify.app/reproducible-research/rdm/rdm-sharing.html

### What needs to be done?

- [ ] Move it to the communication guide
- [ ] Add links to Zenodo and figshare
- [ ] Write a paragraph on how to connect GitHub and Zenodo for release

### Who can help?

* I will work on it tomorrow
* The chapt

[2021-03-10 07:30] EstherPlomp commented on #1786
Hi @malvikasharan ! I'm very confused why this chapter should be moved to the communication guide? Sharing data is not just about communication but also about long term preservation, so I don't think anyone would look there for this information? I could see it being moved to the open research chapter?

[2021-03-10 08:47] malvikasharan commented on #1786
I will be running a workshop of communication and collaboration soon and I would like to share a chapter that gives an overview of how to prepare to share your research data and code. I can write a similar chapter without moving it that covers both data and code, cross referencing to this chapter.

[2021-03-10 09:30] EstherPlomp commented on #1786
Or if the code part isn't extending the chapter too much it could be added here rather than moving it? It might indeed be better to have a new chapter on it because the current one is already quite large!

[2021-03-10 10:52] EKaroune commented on #1786
I think a slightly different rewrite for the communication guide would be the best move - about why to share data/code and link to how to do it, could also have a case study at the end showing a good example?

[2021-03-10 10:54] malvikasharan opened #1787 "GSoC and ISCAS 2021: Project idea and task for the interested candidates"
## :tada: **Welcome GSoC and ISCAS Contributors! This is The Turing Way repository** :tada:

:dizzy: _We're excited that you're here and want to contribute._ :dizzy:

### Summary

**ISCAS**
  * The Turing Way has been accepted as a project in [ISCAS](https://summer.iscas.ac.cn/#/org/prodetail/210940619?lang=en) hosted Summer of 2021 Open Source Promotion plan
**GSoC**
  * INCF is accepted as [Goog

[2021-03-10 11:15] KirstieJane commented on #1786
Heya! Thanks for this discussion @EstherPlomp & @malvikasharan! This issue came from a conversation with me so I'll try to explain a little more here.

I think there's a mix up between the _guides_ and the _chapters_ in this reply. *Communication* and *Reproducibility* are guides. Importantly, *Reproducibility* has a lot of content because it was the only guide in the first place... there are quit

[2021-03-10 12:08] inwaves opened #1789 "Incomplete phrasing for introduction on page "General guidance and good practice for testing""
The introduction to this page reads: _"There are a number of of testing which each have best practice specific to them. Nevertheless there is some general guidance that applies to all of them, which will be outlined here."_

I think there is a missing word where the "of" is repeated, which to me seems key for the meaning of the sentence. Is it testing frameworks? Testing methodologies? "Approaches

[2021-03-10 14:54] KirstieJane commented on #1786
Yes - super up for a conversation about it! Please do bring in a few more (although @malvikasharan - this might be better in a new issue - I might have derailed a bit!)

[2021-03-10 15:29] LauraCarter commented on #1575
As well as the chapters that are already outlined in the table of contents above, we could also add the following:
- Expand the Whistleblower subchapter, using some of the resources listed above
- Subchapter on pay equity: negotiating fair pay, salary transparency, advocating for your organisation to post salary ranges when advertising jobs

[2021-03-10 15:30] malvikasharan commented on #1575
A few thoughts based on our discussions:
- Moving 'advocacy for the internal policy' as a separate chapter from activism
- Showing how researchers and data scientists have a relevant impact on society and therefore, they need to use their position of power with advocacy for ethical practices
- Discussing negotiation skills when developing policy withe different stakeholders - not focusing on diffe

[2021-03-10 15:51] LauraCarter opened #1792 "Add robodebt image to subchapter"
### Summary

There is a lovely robodebt image from the Nov 2020 book dash - it would be great to add it to the robodebt case study!

### What needs to be done?

- [ ] Add robodebt image to this page: https://the-turing-way.netlify.app/ethical-research/activism/activism-robodebt.html

### Who can help?

- [ ] anyone who knows how to add images!

---

### Updates

[2021-03-11 07:20] inwaves commented on #1792
Hey @LauraCarter, I can lend a hand with this. Is the image located anywhere on this repo?

[2021-03-11 08:51] ashatitus commented on #1792
@inwaves It is here: https://zenodo.org/record/4323154?fbclid=IwAR2KGeaNELHxIV7-wvbxHnFfrtB9noav8pBvx20vrvwZ7y0bZTLnYkmrrR0#.YEnZ6I77TIW

[2021-03-11 13:46] Athene-ai commented on #1787
I am interested in Task: Suggest how we can improve browsability of The Turing Way.

[2021-03-11 13:58] Athene-ai commented on #1792
I can help with it

[2021-03-11 14:00] Athene-ai commented on #1789
In my opinion  is _Testing methodologies_

[2021-03-11 14:01] Athene-ai commented on #1777
I can help

[2021-03-11 14:01] Athene-ai commented on #1751
I can contribute on it

[2021-03-11 14:02] Athene-ai commented on #1734
I can contribute

[2021-03-11 14:03] Athene-ai commented on #1732
I'd like to help with this.

[2021-03-11 14:04] Athene-ai commented on #1731
I'd like to contribute on this

[2021-03-11 14:04] Athene-ai commented on #1729
i'd like to contribute on this

[2021-03-11 14:05] Athene-ai commented on #1717
I'd like to contribute on this

[2021-03-11 14:06] Athene-ai commented on #1716
I can help with that as well

[2021-03-11 14:06] Athene-ai commented on #1712
I would like to contribute on this :)

[2021-03-11 14:07] sgibson91 commented on #1716
Apologies @Athene-ai, this is an old issue and the event has already happened!

[2021-03-11 14:07] Athene-ai commented on #1663
I would like to contribute on this :)

[2021-03-11 14:07] #1716 closed

[2021-03-11 14:51] malvikasharan commented on #1787
@Athene-ai the task is described in the issue. Specifically, I discuss some of the issues in the bullet point 3

Based on your idea and interest, you can suggest some improvement:

You can also follow the discussion we are having on the Slack channel for the GSoC candidates.

[2021-03-11 15:02] Athene-ai commented on #1787
In my opinion it could be useful not to link every section and subsections in the left-hand side menu

[2021-03-11 15:35] malvikasharan commented on #1787
Hi Daniela, I recommend taking some time to browse the book and explore the problem that I have discussed in my issue. Please, make a short report of the technical solution you would apply to solve the discussed problem. Based on your report, please make a PR that fully or partially solves the problem. We will use this to assess your technical skills and understand how you approach accessibility a

[2021-03-11 15:42] Athene-ai commented on #1787
Which is the deadline ?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Mail
priva di virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Thu, 11 Mar 2021 at 21:05, Malvika Sharan ***@***.***>
wrote:

[2021-03-11 15:46] malvikasharan commented on #1787
There is no real deadline, but as stated in the issue, the exploration phase is until 29 march, meaning that if you would like to submit a proposal with us, we need to make sure that you are the right fit for the project and that you have a plan to write a proposal to submit in time. Please see the timeline here: https://summerofcode.withgoogle.com/

[2021-03-11 15:48] Athene-ai commented on #1787
Many thanks for the clarification

[2021-03-11 19:05] edaub commented on #1729
Thanks for your interest in this, @Athene-ai ! I've started writing some things down on this in some moments I have had here and there, though I am not sure my ideas are fully formed at the moment. Additionally, I have been very busy lately so have not really had the mental space to really give this my full attention. At some point I will try and get something more structured on the repository as

[2021-03-12 09:07] Athene-ai commented on #1729
Hi Erin !
We can chat about this further on Slack channel :)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Mail
priva di virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Fri, 12 Mar 2021 at 00:35, Eric Daub **

[2021-03-13 14:45] malvikasharan commented on #431
@alexmorley did you have some time to look into it?

[2021-03-13 14:59] alexmorley commented on #431
Did you get the verification email?

[2021-03-13 15:22] malvikasharan commented on #431
No. I didn't get it. Can you please resend this to 'theturingway@gmail.com'?

[2021-03-15 11:53] #1221 closed

[2021-03-15 11:54] malvikasharan opened #1800 "March 2021 newsletter items"
### Summary

* The next newsletter will be sent on 26 March 2021
* Any news item can be posted below as a comment

### What needs to be done?

- [ ] Collect all the items and share in the newsletter

### Who can help?

* Anyone from the community who has something to share 👍

---

### Updates

*Lorem ipsum dolor sit amet, consectetur adipiscing.*

[2021-03-15 11:54] malvikasharan commented on #1800
From the Slack by @Ismael-KG: "Hi friends, I will hopefully have more time to engage with the Turing Way going forward. For now, I just wanted to share a "philosophical" argument we gave for participatory science by looking at the very important work @KirstieJane and @Georgia Aitkenhead have been leading in autism research.
Feel free to watch here. Slides can be found here: DOI 10.5281/zenodo.4603

[2021-03-15 13:12] paulowoicho commented on #1635
Hi @inwaves. Sorry for the delayed response on this issue and thank you for your interest in working on it!

Yes, there are several chapters in The Turing Way have labels defined for the headers they contain. For example, you can take a look at the [Retrieving and Comparing Versions](https://github.com/alan-turing-institute/the-turing-way/blob/master/book/website/reproducible-research/vcs/vcs-git-

[2021-03-15 13:25] paulowoicho commented on #1663
Hi @Athene-ai, thanks for your interest in this! You could also request a review from me on your PR when you're done with the task.

[2021-03-15 13:28] Athene-ai commented on #1663
Many Thanks !
Is there a deadline ?

Daniela

On Mon, 15 Mar 2021 at 18:55, Paul Owoicho ***@***.***> wrote:

[2021-03-15 13:36] paulowoicho commented on #1663
There isn't! Feel free to work on it when you have the time

[2021-03-15 13:38] Athene-ai commented on #1663
Many thanks for the clarification

Daniela

On Mon, 15 Mar 2021 at 19:06, Paul Owoicho ***@***.***> wrote:

[2021-03-15 15:19] alexmorley commented on #431
<img width="849" alt="image" src="https://user-images.githubusercontent.com/13655521/111172480-c1a35a80-859d-11eb-9eb8-dad31d36bada.png">

should be there now

[2021-03-15 17:21] inwaves commented on #1635
Thanks @paulowoicho! PR #1801 raised.

[2021-03-15 17:39] inwaves commented on #1638
@paulowoicho I can take this issue.

[2021-03-15 17:56] paulowoicho commented on #1638
Sure thing! Feel free to tag me to review your PR when you're done

[2021-03-15 17:57] #1635 closed

[2021-03-15 18:20] inwaves commented on #1638
@paulowoicho There's a similar issue with consistency where we title-case'd all headings. Should I title case all headings here also, all the way down to H3s?

For example, should:
```## A checklist for planning collaboration in your project```

be:
```## A Checklist for Planning Collaboration in Your Project```

[2021-03-15 22:40] malvikasharan commented on #431
I have added you on Keybase.

[2021-03-16 10:13] malvikasharan opened #1802 "Move Jupyter Book tutorial to The Carpentries workshop page"
### Summary

* We have created a tutorial to build a Jupyter book using The Turing Way: https://github.com/jupytercon/2020-jupyterbook-with-turing-way
* We want to transfer to The Carpentries format, on this page: https://malvikasharan.github.io/jupyter-book-with-the-turing-way/

### What needs to be done?

- [ ] The first chapter and half of the second episode has been moved to create an example

[2021-03-16 18:43] LauraCarter commented on #1734
Update: the feedback from DKUK is that this does not quite fit with their DataDIve model, and so they will struggle to find staff time to support it because it's not quite what they are funded to do. However, if this is folded in to TTW activities, they're happy to support. In the short term, this probably means promoting the upcoming Book Dash to DKUK communities - @malvikasharan, would it be use

[2021-03-16 21:04] malvikasharan commented on #1734
Hey @LauraCarter, yes that would be beneficial. We can specifically ask DKUK folks to submit application around you wrote (capturing DKUK experience that is more widely applicable to Data Science). Is there anything I can help write that could go in DKUK newsletter?

[2021-03-16 23:17] Islast opened #1803 "Suggestion for content: Configuring jupyter to scrub notebook output"
### Summary

If in the future we include a section/chapter on Jupyter, I think it would be useful to describe how Jupyter can be configured to strip notebook output on a save. This is particularly relevant to people working with sensitive data.

### What needs to be done?
Add the following to a relevant chapter in the future:

* You can create (or edit) a Jupyter config file to add a presave hook

[2021-03-17 09:15] Athene-ai commented on #1734
Is there anything I can help write that could go in the DKUK newsletter?

Daniela

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Mail
priva di virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, 17 Mar 2021 a

[2021-03-17 13:26] LauraCarter commented on #1734
Thanks @malvikasharan and @Athene-ai! I'll check when the next newsletter is going out from DKUK!

[2021-03-17 13:30] Athene-ai commented on #1734
Thanks !
Let me know

Daniela

On Wed, 17 Mar 2021 at 18:57, Laura Carter ***@***.***> wrote:

[2021-03-17 15:36] KirstieJane commented on #696
WOAH - I am 18 months late returning to this issue 😭

Going to see if I can get this work merged to the book this afternoon / evening (Collaboration Cafe FTW!)

@malvikasharan - thank you so much for adding all these folks to the Contributors Table! AMAZING - do we need to do anything more for them if I do manage to merge their contributions?

[2021-03-19 08:52] EKaroune commented on #1733
The first draft of the chapter about authorship is completed so please see it [here](https://hackmd.io/LiIUt_KhQammHmuQ-CACkQ).

There will also be some case studies added at the end.

Any comments and suggestions on how to improve it are very welcome! :grin:

[2021-03-19 17:27] afzal442 commented on #1633
Hi @paulowoicho, I would like to work on this.

[2021-03-20 06:02] afzal442 commented on #1632
Taking up this

[2021-03-22 09:53] malvikasharan commented on #431
@alexmorley can you please share your working email by emailing to theturingway@gmail.com?

[2021-03-22 18:32] paulowoicho commented on #1638
HI @inwaves! Sorry again for the delayed response on this! Yes, title-casing the headings here is a good idea

[2021-03-22 18:44] paulowoicho commented on #1632
@afzal442 awesome! Feel free to ping me to review your PR when you're through

[2021-03-22 19:13] #1633 closed

[2021-03-22 19:40] #1792 closed

[2021-03-23 15:09] afzal442 commented on #1634
Looking into it

[2021-03-23 15:54] LauraCarter commented on #1734
Here is a draft message for the DKUK newsletter, which I'm hoping to send tomorrow (24/3). Feedback welcome!

[2021-03-23 15:58] Athene-ai commented on #1734
For me it's fine

Daniela

On Tue, 23 Mar 2021 at 21:25, Laura Carter ***@***.***> wrote:

[2021-03-23 23:47] malvikasharan commented on #1800
- https://think.f1000research.com/wp-content/uploads/2021/01/Data-collection-tips-and-resources-1.pdf
- https://www.fair-ai.com/project-update-3/

[2021-03-23 23:56] malvikasharan commented on #1800
- https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3000763
- https://www.miragenews.com/data-science-boosts-trusts-ability-to-manage-526301/
- https://psyarxiv.com/8xzqy/
- https://biometrie.charite.de/en/teaching_and_training/certificate_reproducible_research/

[2021-03-25 05:13] inwaves opened #1831 "Complete draft of Risk Assessment chapter"
### Summary

I think we can improve the readability of the risk assessment chapter. I raised #1824 to make a few small grammar improvements, but I think a bit of a rewrite would help. There is some repetition between the landing page, `risk-assess.md`, and the first page in the chapter, `risk-assess-impact.md`. I'd like to see the landing page be a bit more sparse, and have a bit of information ab

[2021-03-26 17:55] sgibson91 opened #1833 "Moving Zero-to-Binder into the book"
### Summary

I would like to move the Zero-to-Binder tutorial(s) from the `workshop/` folder into the book itself to be able to take advantage of a few extras you get through rendering with Jupyter Book/MyST that you don't get with GitHub's Markdown renderings, such as:

1. I'd like to be able to make use of the note boxes to distinguish between text that is necessary, a gotcha or just for informa

[2021-03-29 10:59] DaisyParry opened #1836 "Project Design Chapter"
Drafted initial plan for project design chapter (based on Data Study Group process)

Life cycle of a project

Initial Considerations & proposal formulation:
* Capable and suitable partner?
* Research objectives
* Data
* Ethics
* Impact / ensuring findings will be put to meaningful use.

Getting the right people involved:
* PI?
* Project manager
* Data analyst
* Community expertise

Proposal to res

[2021-03-29 10:59] malvikasharan commented on #1833
@sgibson91, I agree to add this in the book. I have two suggestions for this;
- We can create a new section after 'Afterword' called learning resources
- You can add a chapter on Binder in communication

[2021-03-29 11:50] BatoolMM opened #1837 "CW21: Good Practices for Designing Software Development Projects (The Turing Way)"
:dizzy: _We're excited that you're here and want to contribute._ :dizzy:

#### Summary:
- At the **Software Sustainability Institute's Collaborations Workshop 2021**, _The Turing way_ will present a mini-workshop under the title "Good Practices for Designing Software Development Projects" on the 30 March 2021.
- **_The Turing Way_** is an open-source community-driven guide to reproducible, ethical

[2021-03-30 11:17] LauraCarter commented on #1734
Book Dash blurb went out in the DataKind UK newsletter today!

[2021-03-30 11:20] Athene-ai commented on #1734
:)

On Tue, 30 Mar 2021 at 16:48, Laura Carter ***@***.***> wrote:

[2021-03-31 13:42] danielskatz commented on #1837
I wonder if we could combine this with https://github.com/carpentries-incubator/proposals/issues/2 and think about gathering/building materials that could be used in a book and also in an existing or carpentries lesson community

[2021-03-31 14:47] malvikasharan commented on #1837
From @ha0ye: I think, in addition to CoC and project planning, policies for assigning credit to contributors and project members. (the latter may be more relevant in academic communities w.r.t. authorship order)

[2021-04-01 07:04] inwaves opened #1838 "Merge similar sections on code styling/linting in reproducibility and product design guides"
### Summary
There are two similar sections, one in the Guide for Reproducible Research and one in the Guide for Project Design, both discussing code styling and linting. There is a bit of overlap in information, though the section in Project Design is more comprehensive. As someone who's been reading the book end-to-end, it seems odd to encounter the same information twice.

Can we merge these two

[2021-04-07 14:34] sgibson91 commented on #1833
### Planning

So I think the current [Binder subchapter](https://the-turing-way.netlify.app/reproducible-research/renv/renv-binder.html) in the reproducible environments chapter of the reproducible research guide could be moved to the communication guide with some tweaks. (Why Binder is a communication tool vs a collaboration tool, etc.) Then the next page should be the tutorial with a segue like

[2021-04-07 18:08] #1638 closed

[2021-04-08 10:03] MariaEriksson opened #1842 "Proposed addition to section on managing sensitive data (under Research Data Management)"
### Summary

We would like to add a section to the chapter that covers working with sensitive data, describing how a researcher can develop code openly on github while also ensuring that sensitive data does not get inadvertently shared.

A rough draft would look something like this:

#### Working with sensitive data without inadvertently exposing it
* How to use gitignore to prevent git from track

[2021-04-08 10:41] LauraCarter commented on #1717
Our lightning talk proposal for RightsCon has been accepted! I've opened a PR https://github.com/alan-turing-institute/the-turing-way/pull/1844, currently awaiting some guidance on what they want lightning talks to look like.

[2021-04-08 18:03] #1631 closed

[2021-04-08 18:03] #1632 closed

[2021-04-08 18:03] #1634 closed

[2021-04-09 14:13] #1333 closed

[2021-04-09 14:17] malvikasharan opened #1847 "Book Dash: 17-22 May 2021 Planning issue"
### What needs to be done?

*Tasks are being coordinated by @malvikasharan, you are welcome to support her with your ideas and suggestions.*

- [x] Finalise dates based on the location and organisers' availability: 17-21 May 2021
- [x] Set up an online platform ([Zoom](https://zoom.us/), or other accessible software) for remote collaboration - Malvika's Zoom
- [x] Set up shared notes: main event,

[2021-04-12 14:08] #1701 closed

[2021-04-12 16:11] JiaruiWang-Jill commented on #1628
Hi, I submitted a pr for the following tasks.
 1.Add labels to all headers as recommended in the style guide.
 2.Check for proper grammar and spelling.

Please see pr #1848

[2021-04-12 16:31] inwaves commented on #373
Looks like this is resolved in [Jupyter-book's #176](https://github.com/executablebooks/jupyter-book/pull/176)

[2021-04-12 23:35] KirstieJane commented on #373
Reopening just incase we haven't updated to the latest version of jupyter book yet -

[2021-04-12 23:35] #373 closed

[2021-04-13 07:34] #1628 closed

[2021-04-13 08:18] JiaruiWang-Jill commented on #1787
Hi @malvikasharan , thanks for your guidance in slack channel. My try of "good first issue" is #1848. And I also leave my drafted proposal here. Look forward to hearing from you.
[gsoc_proposal-2.pdf](https://github.com/alan-turing-institute/the-turing-way/files/6302242/gsoc_proposal-2.pdf)

[2021-04-14 12:52] Ismael-KG commented on #122
Just found this neat issue - I went to a talk yesterday where the data vis was **stunning** and thought it deserves a chapter in TTW! Shall we revive this issue, @KirstieJane @malvikasharan? 😄

[2021-04-14 13:04] KirstieJane commented on #122
Yes! That would be fabulous - please do!

There's also huge scope here for using Binder as part of the Jupyter Book.

Here's a note book that I've always meant to incorporate as a chapter.... I wish I had some time!

GitHub Repo: https://github.com/KirstieJane/NH19-Visualization/tree/master

Binder: https://mybinder.org/v2/gh/KirstieJane/NH19-Visualization/master?urlpath=lab

Not exactly what you

[2021-04-14 13:44] AidaMehonic commented on #122
There are some work packages across ASG projects with a significant data visualisation component.
Some of them are even thinking about creating tooling for data vis in their own domains.

So I am keen to be contribute to writing this chapter as I help ASG teams think through data vis tooling options.

[2021-04-14 13:55] KirstieJane commented on #122
@rolyp who is working on the WAYS project might be interested too... I know Greg was keen back in the day (maybe @Arielle-Bennett can get in touch?)

[2021-04-16 08:59] Ismael-KG commented on #122
Would love to arrange a call on this. I am thinking this might deserve chapters in different books, although that might be confusing! Some thoughts to write about:

1. The need for good data vis for science communication (this could live in the [Guide for Communication](https://the-turing-way.netlify.app/communication/communication.html))
2. The need to compile vis methods used for their replicati

[2021-04-16 11:31] EKaroune commented on #1733
Collaborative academic writing chapter is now started [here](https://hackmd.io/xHzPEzPkQCudZ_XV0TILEA).

I have just brought together all the resources I currently have so it needs mcuh more added and a lot of editing.

[2021-04-20 10:42] sgibson91 opened #1851 "On-the-fly, personal curation of the book's content"
### Summary

Paraphrased from @KirstieJane:

We find that The Turing Way book is super intimidating for folks. There are loads of chapters, lots of content and I often hear "I'll read the book and get back to you" and .... well..... they don't. Because there's too much there to digest!

BUT - what if we could host subsections of the Jupyter Book in a "choose your own adventure" or "curate the read

[2021-04-20 13:32] malvikasharan opened #1852 "Update the Book Dash chapter"
### Summary

* We have to add new templates, format, process and logistics info in the chapter

### What needs to be done?

- [ ] Use report from Nov 2020
- [ ] Use template from May 2021

### Who can help?

* People involved in Book Dash planning and who have attended the book dash last year

---

### Updates

*Lorem ipsum dolor sit amet, consectetur adipiscing.*

[2021-04-30 14:18] #1800 closed

[2021-05-04 08:40] sgibson91 opened #1856 "Onboarding Callum as Turing cluster admin"
### Actions

- [x] Open issue in https://github.com/jupyterhub/team-compass introducing Callum
    - Issue here https://github.com/jupyterhub/team-compass/issues/407
- [x] Add item to May's meeting agenda to introduce Callum
- [x] Invite Callum to the May JupyterHub & Binder team meeting
- [x] Callum to request access to the `turingmybinder` Azure subscription through TopDesk
- [x] Sarah to schedu

[2021-05-04 10:11] avakiai commented on #1596
Hi all, I would love to contribute to this section. I checked but couldn't find an open PR for this, so sorry if I missed it and should be commenting there. Could someone kindly point me to where any activity on this front is going on?

Specifically, I wanted to suggest the addition of a particular sub-element to @eglerean's already great tabulation of steps toward re-usability: perhaps we can cal

[2021-05-05 09:33] sgibson91 commented on #1856
- [ ] Callum to get a Keybase account
- [ ] Sarah to share git-crypt key for mybinder.org-deploy repo with Callum via Keybase

[2021-05-05 12:22] EKaroune commented on #1842
HI @MariaEriksson - I have started planning a chapter about managing a collaborative sensitive project and this migth fit well with what you are propsosing or at least be linked. Plan is [here](https://hackmd.io/JQPGDY1uRnaoe97SiviuAw).

[2021-05-05 12:33] EKaroune commented on #1733
Focusing on 'Communicating with wider audiences' for the Bookdash May 2021 to get it into the book by the end of that week.

Find it [here](https://hackmd.io/O_BEkdhoSEylW1QMXe_1Jw)

[2021-05-05 13:01] RoyiAvital commented on #1803
This is a must feature.
Being able by a Jupyter Magic Command to tell Jupyter to exclude output data from the file on the HD.

[2021-05-05 13:50] Islast commented on #1842
It definitely seems like it would fit into the data/github section of your chapter

[2021-05-07 06:59] c-martinez commented on #1596
Hi @avakiai, @eglerean  -- will you be joining the book dash from the 17th May? I think that would be a good opportunity to start working on this issue.

[2021-05-07 08:20] eglerean commented on #1596
Hello! That's a great idea @c-martinez! I will sketch something before that date so we have a base to start.

I have been following also the developments of the FAIR4RS RDA interest group https://www.rd-alliance.org/groups/fair-research-software-fair4rs-wg

My humble goal is not to come up with a universal taxonomy of code replicability/reproducibility. Goal of this issue could be more about raisi

[2021-05-07 10:29] c-martinez commented on #1596
Great @eglerean, that would be good to have a starting point.

If it helps, some of my colleagues recently wrote a [blog about software reuse](https://nl-rse.org/2021/04/02/software-reusability.html). It might be a good starting point.

@avakiai -- the Book Dash runs for the whole week, so I'm sure there should be enough time for you to join via zoom.

[2021-05-10 09:51] malvikasharan opened #1862 "Items for May Newsletter: 2021"
# Some points to include

- Book Dash report
- Community share-out video
- Illustrations if possible

[2021-05-10 09:52] malvikasharan commented on #1862
Through @EKaroune:
Update from DECOVID member @IsabelBirds
- Affiliation: PhD Candidate, University of Leeds
- Role on DECOVID: Analyst in the COPD Analytics Team

[2021-05-10 10:25] malvikasharan opened #1863 "Scriberia images are missing in following chapters"
### Summary

We have Scriberia illustrations that need to be added to many chapters. In the comment, we/you will update which files should be added to which chapter.
Anyone interested to help update the chapters and make their first contributions are welcome to make a Pull Request.

#### How-to add images?

All the images are uploaded to the 'book/website/figures' folder.

- Go to the file in 'boo

[2021-05-10 13:56] griff-rees opened #1865 "There is a missing link in the Inclusivity section of `CONTRIBUTING.md`"
### Summary

A link in the **Inclusivity** section of [`CONTRIBUTING.md`](https://github.com/alan-turing-institute/the-turing-way/blob/master/CONTRIBUTING.md), specifically within this sentence

is missing (raises a [404 error](https://en.wikipedia.org/wiki/HTTP_404)). A version I've found via the wayback machine is here (but hard to read): https://web.archive.org/web/20170901073508/http://www.le.

[2021-05-13 15:53] EstherPlomp opened #1875 "Add information on how to cite and link to your data in a publication"
## Summary

The 'Sharing and Archiving Data' in the Research Data Management chapter could do with another step where the practicalities of linking the datasets and the publication is better explained (currently in step 3 but not really explained how to do it!).

### Discussion Points

- [ ] Are there resources out there?
- [ ] Is this the appropriate place in the book?

### Resources

- [ ] Are t

[2021-05-13 15:53] alihumayun opened #1876 "Test — I miss information on how to cite data in a paper"
## Summary

### Discussion Points

- [ ]  Are there resources?

### Resources

- [ ] Link to HackMD with description of my ideas
- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*

## Who can help?

* * Anyone who has written a paper
* *Lorem ipsum dolor sit amet, consectetur adipiscing.*

## Updates

- [ ] Write chapter outline
- [ ] Add material to the chapter
- [ ] Combine materials in

[2021-05-13 15:54] EstherPlomp commented on #1875
@lottycoupat Can you please have a look at this?

[2021-05-13 16:11] malvikasharan opened #1877 "Add an image to the **Welcome** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:45] malvikasharan opened #1878 "Add an image in the **Reproducibility Overview** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:46] malvikasharan opened #1879 "Add an image in the **Reproducibility Definition** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:47] malvikasharan opened #1880 "Add an image in the **Open Research** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:48] malvikasharan opened #1881 "Add an image in the **Open Data** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:49] malvikasharan opened #1882 "Add an image in the **Version Control** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:49] malvikasharan opened #1883 "Add an image in the **Research Data Management** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:50] malvikasharan opened #1884 "Add an image in the **The FAIR principles and practices** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:51] malvikasharan opened #1885 "Add an image in the **Data Storage** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:51] malvikasharan opened #1886 "Add an image in the **Code Review** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:52] malvikasharan opened #1887 "Add an image in the **Credit for reproducible research** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:52] malvikasharan opened #1888 "Add an image in the **Credit for reproducible research** page: ORCID"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:53] malvikasharan opened #1889 "Add an image in the **Continuous Integration** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:54] malvikasharan opened #1890 "Add an image in the **Continuous Integration** page: Limitations and best practices"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-13 16:55] malvikasharan opened #1891 "Add an image in the **Code Reviewing Workflow** page"
- **Problem:** The Turing Way chapters are better explained with illustrations and images. We have many chapters that are not connected with any illustration yet.

- **Solution:** Below we provide chapters with the details on the image with links to the chapter and image file in The Turing Way. Please edit the chapter file to add images.

- **How-to add images in The Turing Way:** We use the follo

[2021-05-16 21:10] malvikasharan commented on #1847
Update the Book Dash chapter and add report after the event.

[2021-05-17 08:29] lottycoupat commented on #1877
Going to start on this one!

[2021-05-17 09:19] #1877 closed

[2021-05-17 09:22] lottycoupat commented on #1884
I'll start on this!

[2021-05-17 09:58] EKaroune commented on #1884
@all-contributiors please add @Arielle-Bennett  for mentoring

[2021-05-17 10:20] #1884 closed

[2021-05-17 12:25] EKaroune commented on #1880
This ones for me!

[2021-05-17 13:23] #1878 closed

[2021-05-17 14:16] AidaMehonic opened #1904 "Designing research software toolkits"
## Summary

This chapter should be helpful for data scientists or researchers in general who wish to create a research software toolkit.

### Discussion Points

- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*

### Resources

- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*
- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*

## Who can help?

* *Lorem ipsum dolor sit

[2021-05-17 14:39] #1879 closed

[2021-05-17 14:46] bsipocz opened #1906 "Files have to be cases insensitively uniquely named"
OSX is case insensitive, and therefore file names with differences only in the casing causes issues in the git checkout.

Currently https://github.com/alan-turing-institute/the-turing-way/blob/master/book/website/figures/robodebt.jpg and https://github.com/alan-turing-institute/the-turing-way/blob/master/book/website/figures/RoboDebt.jpg are the conflicting ones, they are identical in content, the

[2021-05-17 14:53] marianaiv commented on #1395
First draft: https://hackmd.io/@marianaiv/BJQyvZJKu

[2021-05-17 15:04] EKaroune commented on #1875
I'm going to be writing about data papers - this is something that you can mention to improve the findability and accessibility of datasets.

So eventually you can also link to that section in the Guide for Communication.

[2021-05-17 15:09] EKaroune commented on #1875
Data availability statements are an important thing to mention. Some journals require these now where as others not and there is the issue that you are still allow to use 'data by request', which should not be allowed in my view.

There are lots of links for this from publishers such as these:
* https://www.ametsoc.org/index.cfm/ams/publications/author-information/formatting-and-manuscript-compone

[2021-05-17 15:11] EstherPlomp commented on #1875
Thanks Emma! We do already have a small section on Data Availability Statements here: https://the-turing-way.netlify.app/reproducible-research/rdm/rdm-sharing.html

I can include the links you provided as I'm updating the same page :D

[2021-05-17 15:16] #1882 closed

[2021-05-17 15:20] EKaroune commented on #1875
Also saw this recently from ERC that has some handy tables at the bottom with info about different data repositories: https://open-research-europe.ec.europa.eu/for-authors/data-guidelines

[2021-05-17 15:27] bsipocz commented on #1906
I'm not so sure about this any more, as I see the current way is very much a mix of camel case and underscore/dashed filenames and the duplicate was a one off mistake. I still think going with one consistent naming convention is nicer, but not sure about whether it's worth the effort of enforcing it on contributors. So would love to get some comments on it before I jump on and add a check for nami

[2021-05-17 16:12] malvikasharan commented on #1395
That looks good @marianaiv. You might find some useful content here: https://docs.google.com/document/d/1VZkxGZeleLidPDMuNl5QB7AWE2MDC-OhgqzYwU63m1U/edit

[2021-05-17 16:42] malvikasharan commented on #1906
@bsipocz I am adding my comment as discussed. We can use a standard naming for the book, and if a CI is set for that - it would be brilliant. Since the Scriberia images were written in camelcase, we uploaded them with the same names, but we can definitely rename them all for the book.